[2018-01-26 10:14] egoist opened #1 "Add UMD bundle"
Currently you only have CommonJS bundle which can't be used in browser directly.

https://github.com/redxtech/vue-plyr/blob/7a7d9f0f7cefb0a8f6f43221a62350ef375e4ccb/poi.config.js#L4

`poi build --library && poi build --library VuePlyr` would  fix it, in this case you should remove `removeDist: true`

[2018-01-27 01:59] redxtech commented on #1
Oh shoot. Thanks @egoist , I forgot about that. However, when attempting to do this i only end up with one file. Is there a way to avoid this? And also, would it be better to use bili to output each module with one command?

[2018-01-27 02:06] egoist commented on #1
there's always an option https://poi.js.org/#/options?id=filename

[2018-01-27 22:16] redxtech commented on #1
@egoist added a UMD bundle and switched to bili for cleaner bundling. It's been working really well \:)
Thanks for reminding me to add this

[2018-01-29 02:52] #1 closed

[2018-02-05 15:32] rebz opened #2 "Offer Sass file over CSS"
Would be great if the Sass file was included as an option.

[2018-02-05 15:33] rebz opened #3 "Responsive Styling - width ignored"
For an internal project we tried using this inside a Modal window. Haven't had much time to debug as of yet. When I get more time in the day I'll try to update this issue but I wanted to go ahead and capture it now.

It seems the player ignores responsive styling on iOS devices (all we've checked so far).

iOS 11, Chrome and Safari

On desktop it appears to work fine. I apologize, I know this does

[2018-02-05 19:19] redxtech commented on #2
I don't use a sass file here. I just import the dist/plyr.css from plyr. You can get the same file from putting the following code in your sass file after `npm install plyr` or `yarn add plyr`.
[code]

[2018-02-05 19:22] redxtech commented on #3
Which component are you using?
I would recommend using the `<plyr>` wrapper around a video element, and you can add your own styles there.

Also, I do not manage any of the styles. This is just a wrapper around [sampotts/plyr](https://github.com/sampotts/plyr), so making an issue there would probably be a better idea.

[2018-02-06 18:44] rebz commented on #2
That actually makes more sense. Thank you.

[2018-02-06 18:44] #2 closed

[2018-02-07 14:36] rebz commented on #3
Tried `<plyr-video>` and `<plyr><video><source>` both had the same issue even when incorporating the Plyr styles directly from their package. I had to add a `max-width: 100%;` to the video element itself no matter the component I used. Might be worth noting in your docs, or include it as part of your own styles.

[2018-02-07 14:36] rebz commented on #3
Thank you for making this. Super helpful and much appreciated!

[2018-02-07 14:36] #3 closed

[2018-02-08 17:27] jwjcmw opened #4 "Watching events on plyr instance"
I'd love any advice on what the best way to monitor events in the player instance that is created by this component from a parent component.  I was able to do it by using plyr in the parent component to find any instances...but I don't have access to the unique id to make sure I'm getting the right one.  Would it make sense to have the vue-plyr components $emit the unique id?  Is there a better wa

[2018-02-09 01:19] redxtech commented on #4
I can probably watch the instance for events and them emit those.
Would that work?

[2018-02-09 11:51] jwjcmw commented on #4
That would probably work, and would be the more "vue" way of doing it.  I'm not sure how much extra overhead that extra layer adds on...I'm monitoring the time change, so there is going to be a whole lot of emitting going on.

[2018-02-10 01:09] jwjcmw commented on #4
How about something like this, where you can pass in the events that you want emitted back...
[code]

and then the plyr component will just emit what has been requested...

[code]

If you like this method, I can set it up in each of the plyr-* components and create a PR.

[2018-02-10 01:12] redxtech commented on #4
That looks great!
I wouldn't be able to get to this for a bit, so if you're willing to send a PR that would be amazing !

[2018-02-10 01:53] jwjcmw commented on #4
Will do.

[2018-02-10 04:18] jwjcmw commented on #4
#5

[2018-02-12 00:53] redxtech commented on #4
Accepted PR, should be good.

[2018-02-12 00:53] #4 closed

[2018-03-21 00:33] iCrawl opened #8 "SSR compability"
Is there any plan on doing this?

I saw in #7 that you plan on upgrading to plyr version 3, so could you take a look at that?
It's basically just checking if `window` exists before doing any operations that only the client should do.

Something like `if (typeof window !== 'undefined')` should usually do the trick.
If that isn't desired, I can maintain my own fork.

Cheers.

[2018-03-21 02:30] redxtech commented on #8
Sounds good. I can do that as well. Also, isn't the mounted() method not called on the server ? Wouldn't putting in there be fine? I don't have any experience with SSR so not 100% sure what goes where. I can also do this tonight as well.

[2018-03-21 03:00] iCrawl commented on #8
Ah, if thats the only place you use it that should be fine yea.

But I guess my issue is pointing at plyr itself as it seems. You import it in the script tag (like you kinda have to) and plyr then already tries to associate with document as it seems.

![image](https://user-images.githubusercontent.com/20760160/37692911-2a3071f2-2cbc-11e8-8f61-0b1faaaab2cf.png)

The relevant portion of that code is

[2018-03-21 03:34] redxtech commented on #8
Ah ok. I'll see if I can do a conditional import within the mounted hook to fix that.
Can you push that to a github repo (or a branch if it's an existing project) so I can clone it and run to see if I got it working ?

[2018-03-21 03:56] iCrawl commented on #8
This project is sadly not open to the public, but you can simply use this example here with ream:
https://github.com/ream/ream/tree/master/examples/custom-root-component
And just import vue-plyr into the index.js and you'll immediately see the error, you don't even need to include it in the Root component for the error to pop up.

[2018-03-21 03:59] redxtech commented on #8
Sounds good. I'll take a look at this as soon as I've added v3 support.

[2018-03-21 16:45] iCrawl commented on #8
After some testing, an easy way around it would be:

[code]

One would have to do that for every component that plyr is needed, since the usual import into `index.js` and then apply `Vue.use()` wont work.

[2018-03-21 17:20] redxtech commented on #8
That does seem to work. Give me a sec and I'll throw that into the component by default.

[2018-03-21 21:44] iCrawl commented on #8
I assume you want me to do it the usual way right?

[code]

If so, no that did not do the trick.

[2018-03-22 01:51] redxtech commented on #8
@iCrawl Hmm. I'll give that look

[2018-03-22 03:06] redxtech commented on #8
@iCrawl ok so I did that and it's working just fine. Here's what I have:
I extended the ream example root component. Only file that I changed was the index file:
[code]

[2018-03-22 13:43] iCrawl commented on #8
Oh jeez, I was importing the wrong thing as it seems. Now that's embarrassing, haha 😃

Thank you very much, I would say this is resolved then!

[2018-03-22 13:43] #8 closed

[2018-03-22 15:46] redxtech commented on #8
Sounds good. I will push a release to npm (v3 for plyr v3) later today.
Happy to help \:)

[2018-03-23 01:57] iCrawl opened #9 "Player destroy throwing errors since v3"
Seems like I'm back with another issue 😨

I did get to test the implementation today fully and throughout and noticed some issues that were not happening with v2 but are happening with v3. I'm unsure if this related to SSR only since I can currently not test this on a non-SSR env.

Anyway.
![image](https://user-images.githubusercontent.com/20760160/37807447-c8207198-2e45-11e8-838e-c192ee882cdb.png

[2018-03-29 15:55] VRuzhentsov opened #10 "Keep alive compability"
In theory, it should initially work. But in the case of returning to the tab back, the component is renders again, and makes GET requests too

http://joxi.ru/5md14y0SvwkW42

[2018-04-11 13:44] nataliawojtkowska opened #11 "Can't get options to work"
I specify the config in data like
[code]
[code]

[2018-04-12 12:55] jwjcmw commented on #11
Have you tried some other options?  I just tried volume, and it doesn't do anything for me either...but other options do work (html, autoplay).  This may be an issue with plyr itself.  Note I just tested this on a 2.x version of plyr...not sure if 3 is any different.

[2018-04-19 17:09] thegeminisociety opened #12 "Accessing player object"
The plyr documentation states that you can access the player object through 2 ways:

1. Setting the return value from your call to the constructor to a variable
2. Accessing the object through any events.

Because I am using vue-plyr I am not directly calling the constructor thus making option 1 not feasible.

I tried option 2 as follows but end up with a `null`

`:emit="['play']" @play="didPlay"`

[2018-04-19 18:24] jwjcmw opened #13 "npm version 2.1.1"
It looks like the version 2.1.1 that is on npm isn't correct...it doesn't have the emit code.  I was trying to use that as I have some custom stuff that still requires plyr 2.  Any chance of updating it?

[2018-04-19 18:26] redxtech commented on #12
I might be able to emit the plyr object on initialization, and you can set the state based on that. I'll also look into exposing the component's state so that you can access the plyr state element from outside the component.

[2018-04-19 19:32] redxtech commented on #13
I honestly have no idea how I would push an update to an older version of the app, as this is my only package on NPM. If you know how to do that I can give it a shot if you tell me. Also, what is the custom stuff that requires v2? If it has to do with the errors with v3 so far I should be able to fix those soon.

[2018-04-19 19:55] jwjcmw commented on #13
You have one more package on NPM than I do, so I'm not going to be much help there. :)  The custom stuff is plyr specific (custom controls) that I haven't had time to make compatible with v3.  I can work around this, and it might just encourage me to get plyr upgraded.

[2018-04-19 19:56] #13 closed

[2018-04-23 08:54] Bugari commented on #9
Experiencing exactly same issue. Seems like it's making library unusable at the moment...? @redxtech I'm really hoping you'll be able to look into this soon :)

[2018-04-24 06:09] Shadomax opened #14 "Can It Work For Nuxt.js?"
Wow! I love these player. I am building an app with Nuxt.js and i require having a player and a playlist.
Please can these plugin work with Nuxt.js?

[2018-04-25 19:25] thegeminisociety commented on #12
Any update on this? Running into a scenario where I have multiple players on the page and want to pause the active player if a user plays a different player. Thanks!

[2018-04-25 19:29] redxtech commented on #12
@thegeminisociety @jwjcmw I unfortunately will not be able to do this for a while, as I am quite backed up with school. If either of you want to make a PR that for each of the components emits the object under emitObject or something like that in the mounted hook I would happily merge the PR

[2018-04-25 20:09] thegeminisociety commented on #12
Found a solution to access the player object.

`<plyr ref="player">`

then

`  mounted() {
      this.player = this.$refs.player.player;
      this.player.play(); // works
      this.player.forward(20); // works
  }`

[2018-04-27 10:12] nidzan commented on #14
Hello.
Does anyone have working example on the plugin running in Nuxt.js?
I'm trying couple of different configurations, but nothing seems to work:
- config 1: http://prntscr.com/jarjab
- config 2: http://prntscr.com/jaridt

Any help or suggestion would be much appreciated.

[2018-04-27 15:35] jwjcmw commented on #12
I was looking into this a bit further to see why the old behavior broke...here are a couple of examples (I stripped these down to bare js...I wanted to make sure vue wasn't the issue).  In the first example, plyr is pulled in through the cdn, and the event.detail.object exists:
https://codesandbox.io/s/l7z67y53zz

In the next example, the only difference is that plyr is required as a node module (

[2018-04-27 15:53] jwjcmw commented on #12
And, weirdly, this does work:
https://codesandbox.io/s/887zvvpxl8
where I'm using an ES6 import instead of require.  See any issues with changing vue-plyr to use that syntax instead?  I can gen up a PR for it.

[2018-04-28 03:06] jwjcmw commented on #12
I figured out the issue with the plyr object not being available on the events.  If you use this:
`const Plyr = require('plyr')`
then a type check fails in the plyr code that outputs the plyr object along with the event.  If you use:
`const plyr = require('plyr')` or just `require('plyr')`
all is good.

[2018-04-29 14:34] thekswenson opened #15 "controls stretched out of video frame"
I have a cordova F7 project that I'm trying to using your nice components with.
I added
[code]
to the main.js file and have a simple template in which I'm trying to use Plyr:
[code]
I end up with a plyr player that has the controls stretched off the side of the video frame like so:
![screenshot from 2018-04-29 16-23-04](https://user-images.githubusercontent.com/9959942/39407733-14bd529e-4bcb-11e8-

[2018-04-29 14:57] jwjcmw commented on #15
It looks like there is a conflict between the plyr css and F7...can you inspect that play button and see what is styling it?  I'm going to guess there is a "width: 100% !important" somewhere in the F7 css on a button that is overriding plyr's style.

[2018-04-29 15:31] thekswenson commented on #15
Yikes!
Yes I find the following in the framework7.css file:
[code]

Would you have any advice for me, or point me in the direction of some reading where for this.  I don't yet have a good handle on how to limit the scope of css, as I'm rather new to all of this.

Thanks a ton for the help!

[2018-04-29 15:43] jwjcmw commented on #15
I would probably reset the buttons within the context of the .plyr class, which wraps the buttons that are causing the problem...so you would need something like:
.plyr button {
    width: inherit;
}
which would be added to your own css that is imported into the project.

[2018-04-29 18:39] thekswenson commented on #15
Thank you @jwjcmw !

[2018-04-29 18:39] #15 closed

[2018-04-30 03:03] jwjcmw commented on #15
Just FYI, I brought it up in the plyr repo, and there should be a fix that takes care of it soon...
https://github.com/sampotts/plyr/issues/928

[2018-05-01 03:11] kieusonlam commented on #9
For me, I didn't using this component. I have my own component because I need some custom things :P

What I did for my component is after destroyign the player, I set player variable to null, something like this:
[code]

[2018-05-01 13:42] Shadomax commented on #14
@nidzan import vue-plyr as plugin and add it to your nuxt-config.js like these

1. Under your plugins folder name the file anything and do your import there and call vue.use() there too.

2. Go to your nuxt-config.js file add the plugin to your plugins array like so
`{ src: '~/plugins/vue-plyr', ssr: false },`

disabling the server-side-rendering option

**OPTIONAL**
You can also add the plugin to

[2018-05-04 20:02] Bugari commented on #9
I'm not sure what should I do - I'm trying to develop app using vue-plyr, but this issue is making it pretty much unusable... Is there a hope it will be fixed, or should I just use plain plyr, and try to integrate it with vue/nuxt in-house?

[2018-05-30 21:47] lucasgmartins opened #18 "Can't reload source dynamic"
Hi,

I'm trying to chance source value dynamic but nothing happens, Am I missing something?

[code]

[2018-06-01 18:10] radames opened #20 "Plyr Polyfilled"
To make vue-plyr compatible with IE you may have to load some polyfills
the original plyr has an option https://github.com/sampotts/plyr/blob/master/src/js/plyr.polyfilled.js
not sure how to enable this to your vue-plyr component, but would be great to have this option or on info on readmeme

[2018-06-04 20:16] ashleahhill commented on #9
Plyr v3's `destroy` method is no longer synchronous. Vue's `beforeDestroy` hook is. Since `destroy` is modifying the DOM after Vue has already gotten rid of you see errors.

https://github.com/sampotts/plyr/blob/master/src/js/plyr.js#L1014

I'm using Plyr v2 in a Vue app right now (not using `vue-plyr`) and came here hoping @redxtech already had a fix for this. Sigh.

[2018-06-06 18:41] smilingpeanut commented on #11
@redxtech I'm struggling with this as well. Trying to customize the controls and can't seem to figure it out. How is the prop supposed to be structured?

[2018-06-14 14:48] bgantick commented on #11
I was able to get this working (with an audio instance specifically). Example:

[code]

[code]

[2018-06-20 13:38] meyt opened #21 "Invalid CSS"
[dist/vue-plyr.css](https://unpkg.com/vue-plyr@latest/dist/vue-plyr.css) includes wrong value `--value`.

here is error that shown by `postcss-loader`:
[code]

![image](https://user-images.githubusercontent.com/10482278/41661869-e7c9d3c6-74b4-11e8-966e-3d5a902254ec.png)

[2018-06-20 13:44] meyt commented on #21
Ouh, it's actually related to `plyr`
https://github.com/sampotts/plyr/issues/867

[2018-06-20 13:45] #21 closed

[2018-06-27 02:41] frutality opened #22 "Vimeo div element not working"
Here is fiddle: https://jsfiddle.net/dcyh5jo8/

"vimeo iframe with progressive enhancement" method works, "vimeo div element" not.

[2018-06-27 02:48] frutality commented on #22
It worked like this: `<div id="player" data-plyr-provider="vimeo" data-plyr-embed-id="76979871"></div>`. I got this attribute names from https://github.com/sampotts/plyr readme.

[2018-07-24 23:34] redxtech commented on #9
I have updated to the latest version of plyr in the next upcoming build and this should be fixed once I iron out some build issues and publish the new version.

[2018-07-24 23:36] redxtech commented on #10
This is most likely a problem with vue it self, or at least intended behavior of some sort. I'm not sure how I would achieve this function, so I will be closing the issue, but if you would like to send a PR addressing this I would happily consider it.

[2018-07-24 23:36] #10 closed

[2018-07-24 23:46] redxtech commented on #11
I have tried with a multitude of different options and I'm unable to reproduce. Closing for now. Feel free to reopen if you have more issues.

Note: I was unable to get volume working properly. This is mostly likely an issue with plyr itself. Feel free to make an issue there.

[2018-07-24 23:46] #11 closed

[2018-07-24 23:54] redxtech commented on #18
Are you able to reproduce in an environment with just plyr? It's possible that it doesn't support hotswitching the video url. If this happens to be the case, I would recommend switching out the entire player. As unfortunate as it is, it might work.

[2018-07-24 23:55] redxtech commented on #20
To do this, you would include the polyfills in your own build project.

[2018-07-24 23:55] #20 closed

[2018-07-24 23:57] redxtech commented on #22
This is most likely a problem with exports in the currently published version. It should be fixed when I publish the new version soon.

[2018-07-24 23:57] #22 closed

[2018-07-25 03:45] redxtech commented on #12
This should be fixed in the new version coming out soon. Additionally, the player is going to be emitted by the `player` event when the component is mounted, so you can access it directly from that.

[2018-07-25 03:45] #12 closed

[2018-07-25 03:52] redxtech commented on #18
Actually, after looking at plyr docs, I have found that it is possible.
In the new version coming out soon, the player object will be emitted on mount with the `player` event. You can access it like this
[code]

Once you have the player object set to `this.player`, you can use the [source options](https://github.com/sampotts/plyr#the-source-setter) to dynamically change the source of the player in

[2018-07-25 03:52] #18 closed

[2018-07-25 04:40] redxtech commented on #14
This can work just fine with nuxt. Thanks @Shadomax for the tips on how to use is (I haven't used nuxt before) and I will add it to the readme in the next version.

[2018-07-25 04:40] #14 closed

[2018-07-25 11:18] AlbertRAR opened #23 "Changelog?"
Hello,
Is there a changelog? You recently updated from 3 to 4 version. There seem to be some notable changes...

[2018-07-25 18:29] AlbertRAR commented on #23
Sure, it is not a problem. I was just curious about changelog)

[2018-07-25 20:14] redxtech commented on #23
Just added it now. [Here's a link](https://github.com/redxtech/vue-plyr/blob/master/changelog.md).

[2018-07-25 20:14] #23 closed

[2018-07-26 04:01] standfv opened #24 "Ads for Vue-Plyr ??"
Ads for Vue-Plyr ??

[2018-07-26 07:20] AlbertRAR commented on #23
Thank you!

[2018-07-26 11:34] standfv opened #25 "How to remove ads of Youtube embed??"
How to remove ads of Youtube embed??

[2018-07-26 16:41] redxtech commented on #25
This cannot be done with plyr. You need to do with with an adblocker. Install uBlock Origin or adblock plus to block ads.

[2018-07-26 16:41] #25 closed

[2018-07-26 16:44] redxtech commented on #24
What is your question? If you're asking how to block as like in your other issue, see what I said in that one. #25 .

If you're asking how to add ads, pass your publisher ID and `enabled: true` in the ads option of the options prop when creating a vue-plyr instance.

[2018-07-30 10:21] sharq1 opened #26 "Duplicate Vue.js code"
That seems like a bug to me, as https://unpkg.com/vue-plyr@latest includes whole lot of Vue code (>8k lines). Same applies to `dist/vue-plyr.js` file when I install via `yarn`.

I'm new to Vue, but from JS standpoint that seems completely unnecessary and wrong, as this is why you would include `Vue.js` before including `vue-plyr`.

Because of that I'm getting `You are running Vue in development mo

[2018-07-30 10:37] sharq1 commented on #26
Looks like it's 4.0.0 problem only, as 3.0.0 dist file has less than 400 lines total.

[2018-07-30 17:48] redxtech commented on #26
I’ll definitely look into bundled vue code and development mode, but also can you tell me how you’re importing vue-plyr?

[2018-07-31 06:36] sharq1 commented on #26
Hi @redxtech
Thank you for looking at this.
I think I know what my problem with registering is.
I'm trying to add vue-plyr to an already existing Rails project, where Vue itself is initialized on `$(document).on('ready', ...)` event, while I see that your library is registering `Vue.component` as soon as the code is executed.

[2018-08-03 09:34] horoscop commented on #26
@sharq1 is right, could you please fix this @redxtech ?

Thanks!

[2018-08-07 04:40] jremi commented on #18
@redxtech , i used your suggestion , it worked thx

[2018-08-09 10:14] vouza opened #27 "Origin-Error when using youTube Output"
I receive this error when using the youtube "div" variant:

`Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://www.youtube.com') does not match the recipient window's origin ('http://localhost:8080').`

more infos regarding this issue:
https://issuetracker.google.com/issues/35174286

[2018-08-09 10:33] vouza commented on #27
This can be solved by using the iFrame variant instead of the div one. Also you need to add...

`origin=https://localhost:8080"`
to the iframe src url.

Important: "Use https" even if your environment (site) runs on http.

[2018-08-10 14:02] werneckbh commented on #27
This is an issue with the original plyr package and the YouTube API.

Apparently, this is fixed in version [3.3.23](https://github.com/sampotts/plyr/issues/1108)

[2018-08-13 05:29] redxtech commented on #24
i'm going to close this issue because it's been more than half a month and you haven't done anything and your question is no where near specific enough to answer.

[2018-08-13 05:29] #24 closed

[2018-08-24 01:24] wirsing opened #28 "Events not firing on SSR setup"
I am using vue-plyr in a nuxt setup, thanks for this wrapper! I am experiencing trouble with getting the events to be fired, my setup within a component (using pug) is:

`vue-plyr(@timeupdate="onPlay")`

and then mounting a Vimeo player with

`div(data-plyr-provider="vimeo" :data-plyr-embed-id="vid")`

Am I missing something?

[2018-08-24 01:26] wirsing commented on #28
Nevermind, I realize I have to get the event emitted from the component.

[2018-08-24 01:26] #28 closed

[2018-09-08 08:23] snowdream opened #29 "Support for hls,like m3u8?"
https://github.com/sampotts/plyr/issues/159
https://codepen.io/pen?template=ZRpzZO

[2018-09-11 18:28] Galvesmash commented on #12
I LOVE YOU

[2018-09-20 09:35] dominik-bln commented on #26
Importing `Vue` in `index.js` should likely not happen and also automatically registering on the global instance is a bit problematic. Usually this is handled with something like `Vue.use(VuePlyr)`. See here for more details:

https://alligator.io/vuejs/creating-custom-plugins/#adding-capabilities

[2018-09-27 07:23] 19peaches opened #30 "Programmatically controlling the Video"
Great package.

I'm a bit confused on how I can control the playback programatically. I'm showing the player in a modal and when it gets closed I need the playback to be paused, if it's reopened then to play.

I'm sure there's a simple way to do that, I'm just not seeing it in your documentation.

Thanks.

[2018-10-01 17:57] irazasyed commented on #26
Created a PR based on @dominik-bln's suggestion. Hopefully, it'll be merged soon. Ref: #31. Open for suggestions, will make changes accordingly if required.

This issue has been bothering me as well :P

[2018-10-14 16:53] 1e4 commented on #30
You can refer to [this ticket](https://github.com/redxtech/vue-plyr/issues/12#issuecomment-420373831), has all you need.

[2018-10-14 22:14] 19peaches commented on #30
No worries, I decide to use the Plyr package directly in my component.

Thanks

[2018-10-14 22:14] #30 closed

[2018-10-16 07:35] nonlinearcom opened #32 "Unclosed bracket error?"
Hi, I'm getting this error when using vue-plyr on nuxt 2.2
Does anyone know how to fix it?
Thanks!

[code]

[2018-10-16 07:58] wuxin1210 opened #33 "IE9+ Can't be used normally, is there a solution?"
IE9+ Can't be used normally, is there a solution?

[2018-10-17 18:47] redxtech commented on #26
A PR has been proposed to fix this. I'll take a look and see if it works today.

[2018-10-17 19:28] redxtech commented on #27
I'll test this and update to the latest version. I'll close this issue if it works.

[2018-10-17 19:33] redxtech commented on #29
This is already supported. Simply add the source as you would with a normal html5 video player (or however you would do it with plyr) and then wrap it with the plyr element.

[2018-10-17 19:33] #29 closed

[2018-10-17 19:34] redxtech commented on #32
When are you getting this error?

[2018-10-17 19:36] redxtech commented on #33
According to the actual plyr docs, IE9 is not supported. IE 10 & 11 are supported, but need polyfills. You can check that out here: https://github.com/sampotts/plyr#browser-support

[2018-10-17 19:36] #33 closed

[2018-10-17 20:20] nonlinearcom commented on #32
Hi Redxtech,

this is my setup, the error is fired also with the option SSR set to true.

// plugins/vue-plyr.js:
[code]

// nuxt.config.js:
[code]
I'm not sure if the error comes from vue-plyr or plyr but as soon as I clear the plugin call, the error goes away.

Thanks in advance!

[2018-10-17 20:54] redxtech commented on #32
This appears to be an issue with `plyr/dist/plyr.css`. That means that it's the css from plyr the is the issue. I would recommend opening an issue with them and seeing what they can do to help.

[2018-10-18 16:56] redxtech commented on #27
updated to the latest version of plyr in the latest dev build and it appears to be working. Will push to master after a few more fixes. Re-open this issue if the problem continues after I publish a new version to NPM.

[2018-10-18 16:56] #27 closed

[2018-10-18 16:57] redxtech commented on #26
Just requested a few changes from the PR from @irazasyed  and when they are implemented I will merge.

[2018-10-19 18:14] #26 closed

[2018-10-20 08:38] standfv opened #34 "Support live?"
Support live?

[2018-10-20 08:41] #34 closed

[2018-10-20 09:07] standfv opened #35 "Build css fail with Nuxtjs"
error  in ./node_modules/plyr/dist/plyr.css
Module build failed (from ./node_modules/css-loader/index.js):
Unclosed bracket (1:9591)

@ ./node_modules/plyr/dist/plyr.css 4:14-133 14:3-18:5 15:22-141
 @ ./node_modules/vue-plyr/dist/vue-plyr.es.js
 @ ./plugins/vue-plyr.js
 @ ./.nuxt/index.js
 @ ./.nuxt/client.js
 @ multi webpack-hot-middleware/client?name=client&reload=true&timeout=30000&path=/__web

[2018-10-20 09:13] standfv commented on #32
Same error!

[2018-10-20 14:47] redxtech commented on #35
Closing in favour of #32

[2018-10-20 14:47] #35 closed

[2018-10-21 13:17] 1e4 opened #36 "Hooking into events on button presses"
Hi there,

I'm looking to hook into certain buttons and changes rather than the events themselves. The problem with hooking into the play event or the state change for example, is that as far as I can see you can't tell if the play/pause button was pressed. Same goes for volume and seeking.

Is there anyway to differentiate between a button click or an event?

Thanks for the package - it's been a

[2018-10-21 18:50] redxtech commented on #32
Just for reference this issue has been opened at the upstream source sampotts/plyr#1220

[2018-10-21 21:15] 1e4 commented on #36
Reopening as I've reworded how to ask and read the documentation a little more.

[2018-10-24 21:10] irazasyed opened #38 "Dist version seems different?"
It looks like the compiled version is different as when I try to import, It says there is no `VuePlyr` and upon looking up the dist files, it is a different version than the one it should be.

I'm using `v5` BTW.

Please check the unpkg version to know what I mean.

[2018-10-25 11:40] iCrawl commented on #38
I didn't encounter that issue, but there seems generally either be a wrong version used.
The package.json says v5 but either the readme is wrong or the dist/ is wrong since in v4 it was stated that:

But doing `<vue-plyr>` just results in Vue telling me that `vue-plyr` is indeed not a thing. Changing it to `<plyr>` works indeed.

[2018-10-25 11:43] iCrawl commented on #32
I can't seem to reproduce this with nuxt `^2.2.0` and as of writing this `vue-plyr: ^5.0.1`

[code]

[code]

[code]

In any case, I thought I might encounter it, did you try the post-css plugin for css-variables?
https://github.com/MadLittleMods/postcss-css-variables

[2018-10-25 19:20] qarthandgi commented on #38
Been gettin `Unknown custom element` errors in Vue.
I renamed `<vue-plyr>` to `<plyr>` and the error suddenly went away.

[2018-10-29 04:21] akarelas opened #39 "Syntax error when using with Nuxt"
I created a fresh nuxt app (with `npx create-nuxt-app my-plyr`), and did `npm i vye-plyr plyr`, and added the created `~/plugins/vue-plyr.js` with the two lines you mention:

[code]

and included `'~/plugins/vue-plyr.js'` in `nuxt.config.js`'s plugins array.

I.e. I did everything as I should.

But `npm run dev` fails with an error:

[code]

[2018-10-29 13:58] irazasyed commented on #38
@redxtech Any updates?

[2018-10-29 14:00] irazasyed commented on #38
@iCrawl @qarthandgi Apparently it's compiling old version which is why we don't see `vue-plyr` and instead `plyr` which is only present in previous versions of the project.

[2018-10-29 15:29] redxtech commented on #39
Closing in favour of #32 & sampotts/plyr#1220

[2018-10-29 15:29] #39 closed

[2018-10-29 15:30] redxtech commented on #36
Hey - I would recommend reading the docs over at sampotts/plyr to get this accomplished. If you can't find it anywhere in there, feel free to open an issue on that github repo. He's the creator of the lib - I just made a wrapper.

[2018-10-29 15:31] redxtech commented on #38
Hey sorry guys I'll take a look at this later today. I've had some personal stuff going on the past week or so and haven't been able to spend any time on this component.

[2018-10-29 22:05] akarelas commented on #32
@iCrawl 's solution seems to work. See more here: https://github.com/sampotts/plyr/issues/1220#issuecomment-434097794

[2018-10-29 22:07] akarelas commented on #32
After using @iCrawl 's solution, I now get a warning for vue-plyr's css file.

[code]

Indeed, the dist css appears to mention `--value` twice, maybe (?) without defining it?

[2018-10-30 00:24] akarelas opened #40 ""Unknown custom element" when running with nuxt"
I followed the instructions for nuxt precisely, and don't get the player on the browser window.

Also, in the browser console I see the following error message:

![nuxt-error](https://user-images.githubusercontent.com/423822/47687810-d65c3f00-dbea-11e8-831c-00786c95c723.png)

[2018-10-30 04:38] redxtech commented on #40
Closing in favour of #38 .
I'll work on this later today hopefully.

[2018-10-30 04:38] #40 closed

[2018-10-30 06:39] akarelas commented on #38
@redxtech I can't make it work. You can check out my absolutely minimal nuxt project (which I published for you) here: https://github.com/akarelas/test-vue-plyr

Has just two commits - first is how next scaffolded it, and the second is how I modified it for vue-plyr.

Installation and running instructions are on the project repo's homepage.

You can test it if you like.

[2018-10-30 16:04] irazasyed commented on #38
@redxtech Thanks for looking into this issue. The new patch has everything except the export of `VuePlyr` and it still is missing when I try to import it.

Ex:
[code]

I want to add this as a component inside a component. While the source file does export it, for some reason it's missing in the compiled version.

[2018-10-30 16:13] redxtech commented on #38
Does the source file export it? I thought I removed that to bypass the named exports thing where the default export needed to be `VuePlyr['default']`. Now you can just `import VuePlyr from 'vue-plyr'` and then `Vue.use(VuePlyr)`

[2018-10-30 17:52] irazasyed commented on #38
@redxtech It was exporting earlier and I downloaded this repo and manually importing the index file into my project and it works good (With that export we had earlier).

I don't want to include it as a global component which is why I'm importing into just one component I have in my project as its usage is limited to one section of the project. Please consider adding it back.

[2018-10-30 19:15] redxtech commented on #38
@akarelas that is an entirely different error altogether. That is currently open at #32 & sampotts/plyr#1220. Needs to be fixed upstream.

[2018-10-30 19:16] redxtech commented on #38
@irazasyed I'll look into a nice way to have both default and named exports. Just a question though, is there any performance improvement to having the component installed locally or is is just preference to not globally install it?

[2018-10-31 04:50] redxtech commented on #38
@irazasyed I added the named imports back and changed the install options to use the umd build so it wouldn't cause an error when importing via the `<script>` tag. I'll close this some time tomorrow unless someone still has an issue by then.

[2018-10-31 05:56] irazasyed commented on #38
@redxtech I can confirm it's working good now. Thank you.

As for your question, it is for performance and preference both reasons. This would allow me to lazy load the entire component which relies on `vue-plyr` when required instead of loading all globally which the component has no use anywhere else. Further, there would be no conflicts with component names in case any other components share th

[2018-10-31 05:56] #38 closed

[2018-11-01 07:25] iCrawl opened #43 "CJS incompatible"
Can we remove this line here:
https://github.com/redxtech/vue-plyr/blob/master/src/VuePlyr.vue#L9
[code]

I feel its unnecessary in there and you could just mention, like in previous versions to to import:
`import 'vue-plyr/dist/plyr.css'`

The reason it breaks is simple if you look into the dist/ folder `vue-plyr.cjs.js`, the import transpiles down to `require('plyr/dist/plyr.css')` which throws

[2018-11-01 21:05] redxtech commented on #38
@irazasyed yeah ok that makes complete sense - I completely forgot about lazy loading in this case. Glad it worked out.

[2018-11-04 14:51] 1e4 commented on #36
Hi @redxtech I've looked into it a little more, passing controls can be done via a function, is there anyway to use vue events within the template? For instance I want to bind something to `@click` but if I just pass in the raw template it doesn't get compiled - I tried returning a component but that too seemed to not work. Any ideas?

[2018-11-05 05:35] redxtech commented on #36
@1e4 can you show me a code example of where you do this?

[2018-11-06 08:04] gy95 opened #44 "support .flv video?"
can vue-plyr support flv videos?

[2018-11-06 20:34] redxtech commented on #44
You would use it the same way that you would use FLV in the HTML5 video player. I've never tested it but it should work exactly the same.

[2018-11-06 20:34] #44 closed

[2018-11-09 22:11] akarelas commented on #32
This bug has been solved. If you create a new nuxt project (this time you will get postcss-custom-properties 8.0.9 instead of 8.0.8) you will see that this paticular has been solved. npm run dev doesn't bring an error message immediately this time.

We do have another error, now, thogh (although we had that one as well, even before)

[2018-11-10 08:15] akarelas commented on #43
I agree with @iCrawl . The title of her issue could also be called 'nuxt incompatible'.

Without her fix, `vue-plyr` doesn't work on nuxt. With her fix it does.

Could you take it into consideration?

[2018-11-10 17:50] g0shed commented on #32
getting this error now
`/node_modules/plyr/dist/plyr.css:1
  (function (exports, require, module, __filename, __dirname) { @keyframes plyr-progress{to{background-position:25px 0}}@keyframes plyr-popup{0%{opacity:.5;transform:translateY(10px)}to{opacity:1;transform:translateY(0)}}@keyframes plyr-fade-in{from{opacity:0}to{opacity:1}}.plyr{-moz-osx-font-smoothing:auto;-webkit-font-smoothing:subpixel-

[2018-11-10 19:41] iCrawl commented on #32
Yes, this relates to #43

[2018-11-18 13:46] LukasBombach opened #46 "Feature Request: Typescript support"
As  it says in the title. I may open a PR for this if I do it myself.

[2018-11-20 19:48] redxtech commented on #36
Unless stated in the plyr docs, you cannot hook onto button presses directly. Unless you have any further additions I will be closing this.

[2018-11-20 19:48] #36 closed

[2018-11-20 19:49] redxtech commented on #46
I have never used typescript. What would I have to do to make this a possibility?

If you want to make a PR just explain what you're doing so that I can maintain it in the future and I will accept it.

[2018-11-20 19:52] redxtech commented on #32
I'll be closing this since the issue has been opened on the upstream repo for a while now (sampotts/plyr#1220)

[2018-11-20 19:52] #32 closed

[2018-11-24 12:42] saikksub opened #47 "Unable to use with electron web pack."
I am using VueJs-plyr with electron-vue template using `npm`. When I try to register vue-plyr, i get following error:
[code]

Can you help to find out what is the problem?

[2018-11-28 13:32] iCrawl commented on #47
Duplicate of #43 (maybe I should really rename the issue)

[2018-11-28 17:49] redxtech commented on #47
Closing as dupe of #43 .

@iCrawl sorry for the wait on that one, I've been busy in real life. We should be seeing a fix soon.

[2018-11-28 17:49] #47 closed

[2018-12-14 08:07] yonghing opened #48 "autoplay options not working"
autoplay options give 'Uncaught (in promise) DOMException' error

<vue-plyr :options="{ autoplay: true}">

[2018-12-14 14:36] yonghing commented on #48
<video autoplay muted> </video>
this is working fine

Can you give example, how to use :options ?

[2018-12-18 13:52] d-szymanski commented on #9
Still throwing errors after destroying.
[code]
v.5.0.4

[2019-01-01 14:25] akarelas opened #49 "Documentation leaves readers thinking vue-plyr works with nuxt"
This section needs to be changed: https://github.com/redxtech/vue-plyr#ssr
The way it is now, causes people (users of nuxt) to think that there is something wrong with them, and they will try for hours to figure out what it is they're doing wrong in the hope of getting vue-plyr working with their site. I think that's not very respectful of other human beings and their time.

Another option is to r

[2019-01-07 21:22] standfv opened #50 "Bug. Hide control volume when use "Poster" Image"
Bug. Hide control volume when use "Poster" Image

[2019-01-10 18:16] redxtech commented on #50
What? Can you give some more examples of your issue like some code and some screenshots?

[2019-01-15 17:43] redxtech commented on #46
I'm going to close this for now. Feel free to re open it again if you want, but the best way to get this implemented would be to just make a PR to add the support and either explain in code comments what you're doing or explain in the PR description with what the code added does. If it works and you don't throw in any weird stuff that I don't understand (if this happens I'll just ask you about it)

[2019-01-15 17:44] redxtech commented on #50
I'll close this in about a week or something if there's no update on it. Feel free to open it again if that happens if you have some more info on what happens.

[2019-01-15 17:50] redxtech commented on #48
Here's some example code for how to use options:
[code]

I find that using YouTube give a bunch of DOMException errors that are unrelated to anything I'm able to do with it. Unless they're actually inhibiting your site from working I would recommend ignoring them. If they happen to be breaking your site open an issue with sampotts/plyr as he's the maintainer of the plyr library used in this plugin

[2019-01-15 22:07] redxtech commented on #43
I'm working on this one right now. Sorry for the wait.

[2019-01-16 11:54] LukasBombach commented on #46
Fair enough. I was gonna do a PR but I abandoned my project now, I don't know if I'll pick it up again. If so, I'll just open a PR.

[2019-01-16 19:13] redxtech commented on #46
Sounds good.

[2019-01-16 19:16] redxtech commented on #43
I'm working on fixing this one right now. It's taking a little bit of time to work out all types of compatibility but once I get vue-cli & nuxt worked out I will push a new version with this fix.

[2019-01-16 22:08] redxtech commented on #43
I have pushed a fix to npm (v5.1.0) that should fix this issue. Sorry for the long wait I just had a bunch of personal stuff going on. @iCrawl test it out and let me know the results.

[2019-01-16 22:09] redxtech commented on #49
I have updated both the package and the documentation so that this is no longer relevant. You now need to include the css manually in both means of installation and I have updated the docs to reflect so.

[2019-01-16 22:09] #49 closed

[2019-01-17 21:17] rhwilr commented on #43
@redxtech Thanks for fixing the issue.
I tried to test it out, but the latest release on npm is [5.0.4. ](https://www.npmjs.com/package/vue-plyr?activeTab=versions)

[2019-01-17 21:22] redxtech commented on #43
Whoops forgot to publish it. @rhwilr should be updated now. Try again.

[2019-01-17 21:34] rhwilr commented on #43
:+1: Perfect! now it works
And at least for me the issue seems to be fixed :tada:
Thanks for the great work!

[2019-01-17 21:40] redxtech commented on #43
Sounds good. I'll close this issue in a day or two if no one has any problems. If you do have problems let me know and I'll try to fix them and won't close it until those are finished.

[2019-01-21 17:35] redxtech commented on #43
Ok since there have been no problems yet I will close this issue. Let me know if anything pops up.

[2019-01-21 17:35] #43 closed

[2019-01-21 17:36] redxtech commented on #50
Closing because of no activity. If you want to include some more details feel free to reopen.

[2019-01-21 17:36] #50 closed

[2019-01-21 17:37] redxtech commented on #48
I feel that this is most likely a problem with the upstream [plyr](/sampotts/plyr) if it is a problem. I'll close the issue here and you can open one up there. If it is indeed an issue with this one, I can take a look into it but you will need to give a few more details.

[2019-01-21 17:37] #48 closed

[2019-01-23 19:54] marcellofuschi commented on #50
I found the same bug myself. I'm using the latest version of vue-plyr and up until now there was no problem with the volume bar. Then I added a poster image (which works great) to my <video> tag and the volume bar doesn't appear anymore (same situation as here: https://github.com/sampotts/plyr/issues/1208). It is fine in Firefox.

[2019-01-30 19:22] alexpvieira opened #52 "YouTube origin error and multiple modals with video"
I'm having this same issue as the #27 with the latest version on NPM.

``
Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://www.youtube.com') does not match the recipient window's origin ('http://localhost:8080').
``

I'm using the plyr player on a modal and when I show the modal the error occurs.

I'm not sure if it's related but if I close the modal and open a

[2019-02-06 01:09] tchret opened #54 "Cannot read property 'player' of undefined on Nuxt"
[code]
[code]

what am i missing?

[2019-02-08 07:49] jacobedawson commented on #54
From what I understand, it's not best practice to 1.) use refs to access child components and 2.) depend on refs being available in computed properties: https://vuejs.org/v2/guide/components-edge-cases.html#Accessing-Child-Component-Instances-amp-Child-Elements

That might have something to do with it - I've found that refs is not even available in the mounted hook on the first render, so Nuxt mig

[2019-02-08 15:53] tchret commented on #54
@jacobedawson: Thanks for the answer. It's in the same component.

The goal is to play the player programmatically

[2019-02-09 15:18] kjetilge commented on #54
I'm having the same problem Vue SPA. This is what I had to do to initialize the player with a video:
[code]

If any one knows how to do this in a better way, please let me know.

[2019-02-10 22:24] alexpvieira commented on #52
Any news on that one? This is the only thing missing in my project right now.

[2019-02-20 18:05] redxtech commented on #52
This is a problem with the either the plyr implementation of the youtube embedding or youtube's embedded player. Neither are maintained by me. Feel free to open up an issue with sampotts/plyr if you need to have this fixed. He can probably give you more information on this one.

[2019-02-20 18:05] #52 closed

[2019-02-20 18:06] redxtech commented on #54
That seems like a reasonable solution. I can probably build that into the next release to fix this sort of issue.

[2019-02-21 19:31] lewyuburi opened #55 "Icons not shows in offline environments"
Maybe needs a prop for pass an icon component for replace it when is in an offline env (local network without internet access)

[2019-02-26 12:04] eugenelandau opened #56 "Update plyr version"
Update plyr version up to 3.5.2

Current version doesn't work in IE 11

I think this is fixed in version 3.5.1: https://github.com/sampotts/plyr/blob/master/changelog.md#v351

[2019-02-27 16:02] stefusilviu commented on #56
Until then, you can add these pollyfils to your project:
[code]

It worked for me.

[2019-02-27 21:58] redxtech commented on #56
I just pushed `v5.1.2` which should have the latest plyr version installed.

I am now getting a message from github saying that there's a vulnerability installed (`merge@1.2.0`). I have traced this issue to `@vue/cli-plugin-unit-jest` not requiring the latest version of `jest`. Updating jest to at least `v24.0.0` bumps `jest-cli` to the same version, which bumps `jest-haste-map` to the same versio

[2019-02-27 21:58] #56 closed

[2019-02-27 23:43] chasegiunta commented on #56
@redxtech looks like the version you just released is packaged incorrectly? Only 4 files in the release
![image](https://user-images.githubusercontent.com/1377169/53530935-40142900-3ab7-11e9-8d4c-09b93732fede.png)

[2019-02-28 07:41] superbiche opened #57 "NPM Package is empty"
Hi,

Seems the last version is empty : https://d.pr/i/kHH58x

And: https://d.pr/i/sHYnzN

If I use 5.1.0: https://d.pr/i/dqfulS

Please fix the NPM package for 5.1.2 😺.

[2019-02-28 11:04] bitbirddev commented on #57
same problem here

[2019-02-28 13:38] afv commented on #57
You can also check it here:
https://unpkg.com/vue-plyr@5.1.1/ - has "dist"
https://unpkg.com/vue-plyr@5.1.2/ - has no "dist"

[2019-03-01 04:27] saranyavelpuri opened #58 "vue-plyr module not downloading"
Hi,
vue-plyr was previously working fine, after some update I am unable to download this package using npm , Its always prompting for npm install, even after downloading multiple times.

[2019-03-01 05:13] jonathanws commented on #58
Could your problem be related to this issue?

#57

[2019-03-01 06:41] saranyavelpuri commented on #58
yes

[2019-03-01 08:56] redxtech commented on #58
closing as dupe of #57

[2019-03-01 08:56] #58 closed

[2019-03-01 08:57] redxtech commented on #57
Pushing update to fix this now.

[2019-03-01 08:58] redxtech commented on #57
Latest update should have fixed this. Let me know if it continues.

[2019-03-01 08:58] #57 closed

[2019-03-08 05:20] Carmichaeldb opened #59 "source setter"
How do I use the .source setter on the vue-plyr? the regular js plyr example for youtube is:
player.source = {
    type: 'video',
    sources: [
        {
            src: 'bTqVqk7FSmY',
            provider: 'youtube',
        },
    ],
};

[2019-03-10 02:19] Carmichaeldb commented on #59
I wasn't able to figure this out so I am just feeding the player the url with the video id via a computed property, but I can't seem to get it to change the video id of the next video when the player is finished. Anyone able to help?

[2019-03-12 15:40] zcuric opened #60 "Generated code is not transpiled by rollup-plugin-babel to ES5 with vue plugin"
Hi,
`vue-plyr` is affected with this issue https://github.com/rollup/rollup-plugin-babel/issues/260

This is causing some builds to break, particularly those who use UglifyJS.

You can see untranspiled code at the bottom here: https://unpkg.com/vue-plyr@5.1.0/dist/vue-plyr.js

[2019-03-13 14:27] paulrostorp opened #61 "Controls are not reactive"
Reactivity is broken for controls:
I have an audio player that has 2 states:  minimised and full (var fullview), in which some controls are hidden/shown (think of spotify). The problem is that the controls for the players do not update according to the state.
[code]

I can remedy this by adding :key="fullview" to the vue-plyr element but it has its drawbacks, seeing that refreshing the component t

[2019-03-19 23:14] dappiu opened #65 "ESLint complains: no-named-as-default"
There are complaints on the build phase with bili:

But also from the user side when importing VuePlyr without braces (I use eslint with vue/recommended plugin)

index.js:
1. imports the default export of VuePlyr.vue calling it VuePlyr
2. creates a const VuePlyrPlugin
3. exports the VuePlyr as VuePlyr, VuePlyrPlugin as VuePlyrPlugin
4. exports VuePlyrPlugin as module default

This is rather confus

[2019-03-20 11:41] dappiu commented on #65
I submitted a fix with this commit https://github.com/redxtech/vue-plyr/pull/64/commits/1f10c2e4d883f0ec183d0912dcb82b96e9bc4283

[2019-03-23 03:49] hoangdangduy commented on #59
I also have a question.
Seem vue-plyr don't support setter source.

[2019-03-25 04:18] ryanhuellen commented on #59
Would also like to see this, same issue.

[2019-03-29 16:57] erickespinoza opened #66 "[Vue warn]: Error in mounted hook: "TypeError: Object doesn't support this action" on IE11"
Looks like for some reason VuePlyr.vue is not using the plyr.polyfilled.js this is causing the issue that the video player is not working on IE11, is there any way to use without using the polyfill.io suggestion on plyr github, since the server doesn't support cdn requests.

[2019-04-16 09:35] Devilkas commented on #14
1. In your plugins folder create file vue-plyr.js
Insert to this file code
`import Vue from 'vue'
import VuePlyr from 'vue-plyr'
Vue.use(VuePlyr)`

Next step go to your nuxt-config.js file and add
`/*
  ** Global CSS
  */
  css: [
    'vue-plyr/dist/vue-plyr.css'
  ],

  /*
  ** Plugins to load before mounting the App
  */
  plugins: [
     '~/plugins/vue-plyr'
  ],
`

[2019-04-25 18:19] russ commented on #29
@snowdream Did you ever get this working?

[2019-04-26 17:29] dietrichg commented on #9
Im doing a simple v-if on the player to toggle multiple players visibility and they don't obey it properly. (They're still visible after changing the state).
I'm having to use v-show to make sure i dont actually destroy them.. This is not ideal and I'd really like to use this wrapper.

[2019-04-29 17:00] redxtech commented on #55
Sorry for the late response!

This is already an option, and you can see how to do it by following the plyr docs: https://github.com/sampotts/plyr#options

[2019-04-29 17:00] #55 closed

[2019-04-29 17:02] redxtech commented on #59
Once you access the plyr instance, you should be able to use the `source` setter/getter as described here: https://github.com/sampotts/plyr#the-source-setter

[2019-04-29 17:02] #59 closed

[2019-04-29 17:09] redxtech commented on #60
Thanks for bringing this to my attention - I will merge #63 and close this as soon as you respond to my comment on the PR.

[2019-04-29 17:19] redxtech commented on #61
When you say reactive I'm assuming (based on the code snipped you shared) that you are using JS to change the elements as the view changes. When doing this, vue uses it's diffing to decide what's new and what's not, and from what I can tell the best way to tell vue that something has changed it by using a key to tell it that something new has happened. Unfortunately, when you do use `key` it reloa

[2019-04-29 17:19] #61 closed

[2019-04-29 17:23] redxtech commented on #65
Hey thanks for this - I'm sorry for taking a while to look at this, I've been swamped with a bunch of schoolwork. I can probably take a look at this more in depth later today, and get to merging your PR. It's all stuff that I think would make this a lot easier to use and appreciate you taking the time to help out.

[2019-04-29 17:27] redxtech commented on #66
How are you using polyfill.io? It appears as if its entire service is based around the fact that it can be used as an API & CDN. Are you loading it before you load plyr?

[2019-05-05 16:02] Vahagn-Zaqaryan opened #68 "[Plyr Interface] Provide a way to change the Interface language"
### What is the Problem?
In my project, there is a need to change the plyr interface language when the user is not understanding the default language of the interface.

[2019-05-05 21:26] rafaelacb commented on #54
Hi, is there any solution for this??

[2019-05-08 12:23] saranyavelpuri opened #69 "Iframe src not updating dynamcially."
1. Iframe src not updating dynamcially.only on reload of full page only its updating. Being a SPA application, I am not supposed to reload the whole page.
2. Deleting the particular video, still iframe src is not updating.

[2019-05-09 13:14] ilostit commented on #66
Hi, same issue here, at the end what's the best approach ?

[2019-05-15 15:14] gobrightspot commented on #66
I'm experiencing this too. It's trying to use Array.protoype.find but polyfill.io doesn't seem to poly fill that correctly...

I'm loading the polyfill.io script before my own script.

[2019-05-15 16:47] redxtech commented on #68
You should be able to use the player instance and change the language using the `language` property described [here](https://github.com/sampotts/plyr#getters-and-setters).

If that doesn't work feel free to re-open this issue.

[2019-05-15 16:47] #68 closed

[2019-05-15 16:49] redxtech commented on #66
Hmm that's odd. Not sure what's going on there.
My recommendation is opening an issue on the upstream source [here](/sampotts/plyr) and describe the issue. In your issue make sure to let him know that you're using vue-plyr and that I sent you there.
Make sure to link to this issue so that we can see what's going on.

[2019-05-15 16:51] redxtech commented on #69
Try using a `key` directive on the `<vue-plyr>` element. Switch that when you change the source of the iframe. That should reload the player while keeping the page intact.
My recommendation would be setting the key to the source of the iframe, but you could use anything that would be unique to each different source (the query string at the end maybe?).

Hope this helps.

[2019-05-15 16:52] redxtech commented on #65
Sorry once again for the delays - I'll be completely free in a few weeks to work on this.

[2019-05-15 16:53] redxtech commented on #54
@rafaelacb (and others):
Sorry for the delays, I've been swamped. I should be completely free to look at this in a few weeks.
I appreciate your understanding.

[2019-05-20 12:50] nathakits opened #70 "Update Plyr to v3.5.4"
update to get the latest features and fixes

[2019-05-23 13:01] dees040 commented on #69
This worked for me:
[code]

[2019-05-31 16:51] MrShakhov opened #73 "The selector :empty can't appear after the pseudo-element selector ::after"
Error from validator.w3.org in css-rule:
`.plyr__ads::after:empty{display:none}`

[2019-06-06 08:53] dappiu commented on #69
This works but the player instance seems to lost the custom options with which was initialized.
I have this code

[code]

where `videoSrc` is a computed property that returns something like `https://player.vimeo.com/video/<videoID>` and that changes when the user mouseenter a particular region of space.

Now, the player correctly picks up the updated videoSrc when videoSrc changes, but while on th

[2019-06-06 13:27] dappiu commented on #69
It seems that I solved the problem I was talking about before by doing this:
I had `autopause: false`, because I thought that as the player instance got replaced by Vue, there was no need of pausing the previous video. This could be a wrong assumption, using the autopause produces more predictable results now.
Moreover, I had the storage enabled and all the player instances was using the key 'plyr

[2019-06-19 11:01] HayGT opened #75 "There is no plyr.svg in the assembly"
I create applications for full work with offline mode, i.e. for work without internet. And launching vue-plyr, without the Internet, I found that for some ridiculous reason, the Play button sprite is loading! from CDN!

Why it happens? As far as I looked at the source code for Plyr, all sprites for autonomous work are already included in the package, but for some reason cdn is used in vue-plyr ...

[2019-06-19 12:21] HayGT commented on #75
The problem was solved by connecting resources manually.
[code]

[2019-06-19 12:21] #75 closed

[2019-06-24 17:31] redxtech commented on #75
Sorry for not replying, that was exactly what I would have suggested.

[2019-07-06 19:35] sujitbiwas opened #76 "How to configure controls"
I want to rearrange the controls. How can i do that with SSR. Previously method i use is

    const player = new Plyr('#player', {
      controls: ['current-time','play' , 'progress', 'duration'] ,
    })

[2019-07-11 11:03] sai2333 opened #79 "In the case of multiple instances, can't get an instance?"
![image](https://user-images.githubusercontent.com/27514272/61045813-30660300-a40e-11e9-9c17-4199f5c04b9c.png)
[code]
![image](https://user-images.githubusercontent.com/27514272/61045863-4d9ad180-a40e-11e9-8b9f-74853a562811.png)
If there is only one instance, the situation is normal.
Thank you for taking the time to answer my questions.

[2019-07-13 23:10] mangowi commented on #54
Hi!, @rafaelacb and everyone.

How did you guys solve this issue?

Thank you in advance :)

[2019-07-23 19:49] redxtech commented on #54
I think that using nextTick to access the ref is the best solution for now. If anyone has any other questions feel free to open a new issue.

[2019-07-23 19:49] #54 closed

[2019-07-23 19:58] redxtech commented on #60
Merged. Thanks.

[2019-07-23 19:58] #60 closed

[2019-07-23 20:00] redxtech commented on #66
Since there haven't any updates I'm going to close this issue. Feel free to reopen if you still have issues.

[2019-07-23 20:00] #66 closed

[2019-07-23 20:01] redxtech commented on #79
Use a different ref for each instance.

[2019-07-23 20:01] #79 closed

[2019-07-23 20:01] redxtech commented on #76
Did that method worth without SSR?

[2019-07-23 20:02] redxtech commented on #73
Thanks, bring it up with [upstream](/sampotts/plyr).

[2019-07-23 20:02] #73 closed

[2019-07-23 20:02] redxtech commented on #70
Done.

[2019-07-23 20:02] #70 closed

[2019-07-23 20:03] redxtech commented on #69
Sorry I couldn't have been more helpfup. Glad you got it worked out.

[2019-07-23 20:03] #69 closed

[2019-07-25 07:43] wakaryry opened #82 "how could I update the poster in video"
I got a table of video list.

But when I delete a video, and remove it from the table list, other videos' poster is not correct.

How could I make the poster correct with no refresh of the page?

Thanks.

![image](https://user-images.githubusercontent.com/7576559/61855449-aaa88400-aef2-11e9-80b0-75cba9556998.png)

[2019-07-27 16:27] daverydan opened #83 "Audio only plays once on iOS Safari & Chrome Mobile"
Audio will only play once on iOS Safari & Chrome mobile. When clicking play on vue-plyr it plays the first time and then will not play again. What's weird is if I lock my iPhone then unlock it and hit play, it will play every time. Any ideas? I have confirmed that it works on Android. Thanks!

[2019-07-29 20:17] redxtech commented on #82
Using the `key` attribute on each element should do the trick. Set `key` to the poster link, that way if it is changed the image will change as well.

[2019-07-29 20:20] redxtech commented on #83
Honestly I have no clue. Take it up with [upstream](/sampotts/plyr).

[2019-07-29 20:20] #83 closed

[2019-08-06 14:24] lewdias opened #84 "Problems with controls"
Hello!

In the Plyr github page, it shows that most controls are active by default, but when using this plugin for Vue, the only thing i get is Speed (for YouTube) and Speed + Captions (for Vimeo).

Also, the tracker seems really small for no reason.
I tried downgrading to 5.1.0 and it didnt help for both issues.

![Captura de Tela 2019-08-06 às 11 23 40](https://user-images.githubusercontent.com

[2019-08-06 15:24] francoism90 commented on #75
@redxtech This doesn't seem to work for me:
[code]

It still loads the CDN and doesn't seem to use the local one.

[2019-08-06 15:33] francoism90 commented on #84
Having the same issue, using the plyr sass instead of the provided css fixed the issue:
`@import '~plyr/src/sass/plyr';`

Seems the latest changes hasn't been pushed to NPM, don't know if these issues has been fixed.

[2019-08-06 16:30] lewdias commented on #84
Hello Francoism90,

That fixed the bar, but the issues with the controls are still present.

Also, im using less, so i used the css file from the dist folder.

Thank you!

[2019-08-06 18:29] francoism90 commented on #84
@lewdias It seems a bit weird the CSS needs to imported twice as it seem to happen already with the component itself. But maybe I'm mistaken, hope it can be fixed. :)

[2019-10-06 07:51] ericlaaper opened #100 "Cookies"
Since today I got this message

A cookie associated with a cross-site resource at https://vimeo.com/ was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review cookies in developer tools under Application>Storage>Cookies and see more details at https://www.chromestatus.com

[2019-10-16 18:26] HDVinnie opened #105 "Video Timestamp"
Is there a way to start a video at a certain timestamp. For instance Im trying to implement something like Netflix where if I stop watching a video mid way through. The next time I visit it I will be asked if I want to continue where I last left off or start video over.

Thanks.

[2019-10-18 01:11] HDVinnie commented on #105
Perfect! Thanks.

[2019-10-18 01:11] #105 closed

[2019-11-07 05:51] vk22 opened #110 "How can I open a video on an iPhone immediately in native ios fullscreen mode using plyr methods?"
I tryed plyr methods:
player.play()
player.fullscreen.enter();

and turned iosNative to true

but it fires once of 10 ((

[2019-11-10 00:24] tibik opened #111 "Can i set dynamic :src in embed?"
I'm trying to set the dynamic src in iframe, but it's not changing the iframe src link.
Are there any ways to dynamically set src?

[2019-11-10 11:48] #111 closed

[2019-11-10 11:48] tibik commented on #111
https://github.com/redxtech/vue-plyr/issues/69

[2019-11-12 14:50] securedeveloper commented on #84
This is my way of passing custom controls and it seems to be working
[code]

[2019-11-16 12:43] CHNB128 opened #113 "Missing `vue-runtime-helpers` as dependencies"

[2019-11-16 21:23] redxtech commented on #113
Yeah I had just noticed this, I'm going to look into removing that as a dependency.
In the mean time you can just installing with npm.

[2019-11-16 21:24] redxtech commented on #65
This should be fixed now.

[2019-11-16 21:24] #65 closed

[2019-11-16 21:24] redxtech commented on #76
I'm going to close this since there hasn't been an update here in a while.

[2019-11-16 21:24] #76 closed

[2019-11-16 21:25] redxtech commented on #82
I'm going to close this since there haven't been any updates in a while.

[2019-11-16 21:25] #82 closed

[2019-11-16 21:27] redxtech commented on #84
That is how you should be doing it.
The CSS should now come bundled.
I'll close this now, feel free to re-open if there's anything else.

[2019-11-16 21:27] #84 closed

[2019-11-16 21:28] redxtech commented on #100
That is something to do with the vimeo player, not vue-plyr or plyr.
I'll close this now.

[2019-11-16 21:28] #100 closed

[2019-11-16 21:29] redxtech commented on #110
Maybe run it on `mounted()`, and if that doesn't work, try a `nextTick()`.

In any case, this is more an issue with (upstream)[/sampotts/plyr].

[2019-11-16 21:29] #110 closed

[2019-11-17 00:43] Kuuzou-cl opened #114 "change previewThumbnail parameter dynamically"
is there any more documentation or examples about the parameters or how to implement them in a component in vuejs, i could not find any in Plyr and i'm struggling a lot to find an answer,

i got this part
`import VuePlyr from "vue-plyr";`
`Vue.use(VuePlyr, {
  plyr: {
    previewThumbnails: {
      enabled: true,
      src: ""
    }
  }
});`
and its working if i put a path in the src parameter, li

[2019-11-17 04:39] redxtech commented on #114
Instead of setting `previewThumbnails` in the initialization part (that part is specifically to have global settings that apply to all players), you can [set it in the options prop](/redxtech/vue-plyr#options).

For your options object just include this (but set the source to the file specific to that player instance):
[code]

I'll close this for now, but if this doesn't work then feel free to re-

[2019-11-17 04:39] #114 closed

[2019-11-17 04:40] redxtech commented on #113
Fixed. Update to 6.0.1.

[2019-11-17 04:40] #113 closed

[2019-11-20 20:44] redxtech opened #115 "webhook testing"
testing webhooks

[2019-11-20 20:44] #115 closed

[2019-11-29 16:36] Robinrrr opened #116 "Microsoft Edge Expected identifier, string or number"
First of all many thanks for the dependency!
Unfortunately I have a bug in the Edge Browser and I don't know how to fix it.

I have used your package in the SSR version

**Browser:**
Microsoft Edge

**Error Message:**
`Expected identifier, string or number `

[2019-12-04 10:16] FlorianFranconi commented on #116
Hi, same error on IE11.

I use the version: **6.0.4**

**Browser:**
Internet Explorer 11

**Error Message:**
`SCRIPT1003: ':' attentedu`

From my research, I think the problem is here:
[code]

[2019-12-04 10:21] FlorianFranconi commented on #116
Hi,

I checked also on IE11 and I think I know where the probleme

In the props there is an invalid json (for Edge and IE11)

Here the actual props

[code]

The default function seems to be the problem.

I suggest this instead

[code]

Thanks

[2019-12-04 10:21] Sorion commented on #116
Hi,

I checked also on IE11 and I thinkthe issue is in the props.

In the props there is an invalid json (for Edge and IE11)

Here the actual props

[code]

The default function seems to be the problem.

I suggest this instead

[code]

[2019-12-05 02:12] apacheao opened #124 "无法退出全屏"
无法退出全屏

[2019-12-05 17:15] somascope opened #126 "document is not defined error when building with Gridsome Vue site generator"
I am using Gridsome for a project to create a static website, and have tried using the plyr component. Things work nicely in gridsome's "develop" mode ($gridsome develop), but once I try to build ($gridsome build), I receive a reference error.

the "/video/" reference in the error is the Vue component/page that I placed an insteance of vue-plyr onto.

`Could not generate HTML for "/video/":
Refere

[2019-12-13 08:48] dalexhd opened #127 "¿How can I solve this error when building with webpack?"
Uncaught Error: Module parse failed: Unexpected token (234:53)
You may need an appropriate loader to handle this file type.
| VuePlyr.install = (Vue, options = {}) => {
|   if (options.plyr) {
|     VuePlyr.props.options.default = () => { return { ...options.plyr } };
|   }
|   if (options.emit) {
    at Object.7AgK (main.js?id=bbe9f07d80a023c5376c:1)
    at r (main.js?id=bbe9f07d80a023c5376c:1)

[2019-12-14 20:04] redxtech commented on #116
Default cannot be an object, because that would cause every player intance to have to the same object as the prop value, because of the way that objects work. I would recommend polyfilling your project, that might help with the issues on IE11.

[2019-12-14 20:04] #116 closed

[2019-12-14 20:06] redxtech commented on #124
First, I do not speak chinese, so anything I respond to is based on google translate. I would appreciate if all support related to this project was done in english so that I am able to help you.

Also, since google translate tells me that you're unable to exit fullscreen, would you be able to provide more details? Preferably in english?

[2019-12-14 20:07] redxtech commented on #126
Try using the SSR optimized version. Since gridsome is essentially rendering the page on the server (when building), that should work better.

[2019-12-14 20:08] redxtech commented on #127
It's telling you what you need to do in the error message. Installe an appropriate loader. Probably vue-loader or something similar.

[2019-12-16 17:52] #127 closed

[2020-01-03 00:40] eoinom commented on #126
Hi,

I was getting a similar issue and tried using the SSR version but am still gettng errors when running gridsome build:

`ReferenceError: document is not defined
    at assets/js/app.a749507d.js:10833:6983
    at Module.<anonymous> (node_modules/plyr/dist/plyr.min.mjs:1:7249)
    at __webpack_require__ (webpack/bootstrap:25:0)
    at Object.<anonymous> (node_modules/vue-plyr/dist/vue-plyr.ssr.j

[2020-01-03 03:26] somascope commented on #126
I’ve found this issue in a few libraries that have UI layers. It seems that if they require anything to do with “document” or “window” this happens. I’ve had some success by only doing whatever initialization the library/package needs in a Vue SFC’s mounted() lifecycle hook. I think that otherwise, if something is trying to immediately access “document”, perhaps that’s not available (until compone

[2020-01-06 08:22] agreadname opened #137 "How can I solve this error when dev-server with webpack?"
Module parse failed: Unexpected token (234:53)
You may need an appropriate loader to handle this file type.
| VuePlyr.install = (Vue, options = {}) => {
|   if (options.plyr) {
|     VuePlyr.props.options.default = () => { return { ...options.plyr } };
|   }
|   if (options.emit) {

 @ ./src/main.js 106:0-31
 @ multi (webpack)-dev-server/client?http://192.168.89.183:81 webpack/hot/dev-server ./nod

[2020-01-11 16:27] mortensassi commented on #84
For me it is still not working to override the SASS Variables since there is already the built CSS included. I am now currently unable to just set another color after importing the plyr SCSS, which needs me to move to the above mentioned alternative. Hope you'll fix this any soon

[2020-01-11 16:51] mortensassi commented on #2
Like other Plugin Devs it would be preferable to just let the user import the sass in order to modify the appearance. now if you additionally import the scss file you get twice the css in your app and the overrides won't even work since they get overridden by your imported css file

[2020-01-24 09:25] nmedias commented on #116
nuxt.config.js add  transpile: ['vue-plyr']

[2020-01-24 11:24] frutality commented on #137
Have you solved this? I'm getting same error when trying to upgrade to v6.

v3, v4 and v5 works fine for me.

Seems like config issue. Webpack for some reason thinks something wrong with spread (...) operator. There is a solution to this described [here](https://stackoverflow.com/questions/50327580/webpack-4-react-unexpected-token-spread-operator): use `babel-plugin-transform-object-rest-spread`.

[2020-01-24 12:48] frutality commented on #137
Apparently problem solved by updating laravel-mix which caused to update babel and webpack.

[2020-01-26 21:15] bennettfrazier opened #138 "Transpile plyr import IE11 issue"
Can a conditional option be added to configure support for IE11 with the build transpile as seen in this example: https://github.com/sampotts/plyr/issues/890#issuecomment-515765128?

**replace**
`import Plyr from 'plyr';`
**with...**
`import Plyr from 'plyr/dist/plyr.polyfilled.js';`

Currently plyr needs polyfill support for IE11 and with the vue-plyr component, I cannot get the dependency to wor

[2020-02-07 18:00] IlyaSemenov commented on #138
@bennettfrazier you can fix it with:

[code]

[2020-02-12 16:40] opnchaudhary commented on #29
Anyone who got this working?

[2020-02-21 06:59] redxtech commented on #124
Since you haven't responded in a while I'm going to close this.

[2020-02-21 06:59] #124 closed

[2020-02-21 07:01] redxtech commented on #126
The only time that this project uses `document`/`window` is after it has been tested to not be undefined.

Might be an issue with [upstream]/(sampotts/plyr).

[2020-02-21 07:03] redxtech commented on #126
This project doesn't use `document` or `window` in any places other than where they've been tested to not be undefined.

Might be an issue with [upstream](/sampotts/plyr).

[2020-02-26 09:41] LavrovE commented on #138
same error

[2020-03-02 16:52] mostafaznv commented on #29
just install [hls](https://github.com/video-dev/hls.js) and use this workaround.

[code]

[2020-03-03 18:59] maximelebreton commented on #2
Hello.
Please Repoen this issue, and add the ability to disable css style import, or like @mortensassi said, let the dev import the css.
Currently we have no way import our own Sass style, because the default style overrides our custom Sass stylesheet.

Thanks,

[2020-03-19 10:45] wesley0609 opened #156 "How do i use setup function with vue-plyr"
How do i use setup function with vue-plyr.

**example:**
[code]

thanks!

[2020-03-20 02:06] wesley0609 commented on #156
Hi, i find this.
[code]

[2020-03-20 02:06] #156 closed

[2020-04-02 02:12] vitorhugosg opened #162 "Thumbnails webvtt"
Hello, all right, first of all thank you for this great job.

I am making an application for deaf users.

I need to put the webvtt.

I generated the vtt:

![image](https://user-images.githubusercontent.com/17458174/78203563-b844df00-746d-11ea-9860-6b9ba1367fec.png)

I'm using vueJS,

I added the VTT:

![image](https://user-images.githubusercontent.com/17458174/78203642-e4f8f680-746d-11ea-9a72-723f

[2020-04-02 16:18] saasforge opened #164 "If I turn the sound off I can't turn it on back"
I don't know why and how, but if I click to turn the sound off, there is no way to turn it back on. It happens when the player's width is not big and the sound control is shrunk to a round dot, so the sound slider is not visible at all.

[2020-04-03 15:58] marctaule opened #165 "Error: Setting the playback rate is not enabled for this video."
I get this error in my console. Do you know why? I use vimeo and youtube videos.
Thanks!

`Error: Setting the playback rate is not enabled for this video.`

![Captura de pantalla 2020-04-03 a les 17 58 00](https://user-images.githubusercontent.com/46464634/78380773-b34e6f80-75d4-11ea-9bf3-61f7cd3ac6d1.png)

[2020-04-07 15:18] oemueller commented on #138
same error, sadly this does not work:
`build: {
  extend(config) {
    config.resolve.alias['plyr$'] = 'plyr/dist/plyr.polyfilled.js'
  },
},`

[2020-04-11 20:02] stanislavhannes opened #166 "Poster is not showing"
Hey,
I am using your plugin with Nuxt 2.12.2 in SSR mode.
So far everything is working like charm, except that the poster won't appear.
I tried to use a relative and an absolute url from a different website. Nothing seems to work.

If l execute the following
[code]
the resullt is null

When I try to set the poster path with `this.player.poster = this.posterSrc;` and then force to rerender the `<vu

[2020-04-11 21:10] redxtech commented on #166
It looks like the site is trying to load the poster as a relative URL. Did you include the protocol (`https://`) in the source URL?

[2020-04-11 21:11] redxtech commented on #165
I am not sure. I would recommend reading the upstream documentation for this.

[2020-04-11 21:22] redxtech commented on #164
Odd, but I'd take this up with upstream.

[2020-04-11 21:22] #164 closed

[2020-04-11 21:23] stanislavhannes commented on #166
Yep, I tried this, but without success.
Strange thing is, if I put it in "picture in picture" mode, I can see a blury and less colorfull version of the poster inside the player as placeholder during the mode.

[2020-04-11 21:24] redxtech commented on #166
What's the console error when you try this?

[2020-04-11 21:29] stanislavhannes commented on #166
Still the same like above `(index):1 GET http://localhost:3000/impressionen/null 404 (Not Found) ` . If I leave poster empty I also get this

[2020-04-11 21:29] redxtech commented on #166
That's quite odd. I'd recommend taking it up with upstream. Have you looked at what the attribute reads in the html?

[2020-04-11 21:36] stanislavhannes commented on #166
What do you mean with upstream? U mean debugging? ... Yes, in HTML the path looks correct `poster="http://localhost:3000/impressionen/FeierabendFusionZ-AftermoviePoster.jpg"`

[2020-04-11 21:46] stanislavhannes commented on #166
Sometimes the poster shows up for just a second and then disappears again

[2020-04-11 22:18] redxtech commented on #166
No by upstream I mean [this](https://github.com/sampotts/plyr).

[2020-04-12 01:35] stanislavhannes commented on #166
Ok, I found the reason why the poster is hiding after a second. I have the following code:
[code]

And this is my videoSource array:
[code]
So my defaulSrc in `<video>` is actually the src from the mp4 and 720p item insider videoSource my videoSource array. If I leave the don't use src inside `<video>`, the poster will be displayed. But unfortunately I can't start the video directly. Only if I cho

[2020-04-12 12:24] stanislavhannes commented on #166
I found the reason for the 404 error in the console.  It was the Nuxt Lazy Load package. But still no poster.

[2020-04-12 13:10] stanislavhannes commented on #166
Finally! I found a workaround.
In [this](https://github.com/sampotts/plyr/issues/1763) ticket they had issues with the poster too. It was related to the new plyr version 3.5.10. So I made a fork from your repo and downgraded the plyr version from 3.5.10 to 3.5.6 (3.5.8 didn't work) and now it works!
Hope there will come a better solution in the near future.

[2020-04-18 15:21] fayazara opened #167 "CORS error is not trigerred on error event"
I am trying to stream some hls content using this method https://github.com/redxtech/vue-plyr/issues/29. It works but for some links I get a CORS error, I am not able to catch this error from the error event.

[code]

The console prints nothing, anything I can do to catch this?

[2020-04-20 06:00] fayazara commented on #167
I have added a hack for now I make a http request in mounted method to see if it returns a 200 response, it not I handle the error, wish there was built in support for it though

[2020-04-20 09:33] AsenCME opened #168 "Plyr disappears when seeking while playing"
Hi!
I am submitting this issue as I have not seen it addressed before. It might very well be environment specific.

I am using VueCLI v3.x in combination with TS and Vuetify. My vue-plyr is in a separate component that gets the audio file URL as a prop. It then emits a timeupdate event as I use that elsewhere. I tried removing the timeupdate, the issue still persists. It seems to be happening only

[2020-04-24 07:31] arggasasao opened #169 "get duration on ready and before video play"
Hi I want to get duration of video before user hit play button.
The video is loaded and I can play it.
What I doing wrong?

[code]

[code]

### Expected behaviour

<pre>
  console output: Video ready: duration: 911.223566
</pre>

### Actual behaviour

<pre>
  console output: Video ready: duration: 0
</pre>

### Environment
package.json
- "vue": "^2.6.11",
- "plyr": "^3.5.10",
- "vue-plyr": "^6.0.4

[2020-04-29 13:54] afuno opened #171 "Expecting end of input, "ADD", "SUB", "MUL", "DIV", got unexpected "RPAREN""
Recently an update was released for Plyr - version 3.6.x. Your library automatically received this update.

And my Rails application stopped building during deployment. During deployment I get this error:

[code]

Please fix this problem. Your library is currently useless and not working.

[2020-04-30 05:44] linpan opened #172 "src is string"
src can become to ['', ''] for playlist.

[2020-04-30 15:32] KristianJohansenVakwerk opened #173 "Syntax error Nuxt v2.11.0 on generate"
Hi!

Using vue-plyr v^6.0.4 and everything works perfect when I run npm run dev but when I run npm run generate do I get this error.

Anyone having the same issue of know how to fix it?

ERROR in ./node_modules/plyr/dist/plyr.css (./node_modules/css-loader/dist/cjs.js??ref--3-oneOf-1-1!./node_modules/postcss-loader/src??ref--3-oneOf-1-2!./node_modules/plyr/dist/plyr.css)
Module build failed (from

[2020-05-02 15:38] ItsNash0 opened #180 "Quality Setting is hidden"
enabling quality setting through config does not show it (Nuxt)

[2020-05-02 17:42] ItsNash0 commented on #180
turns out you do need a src on the video element for the setting to appear, just adding sources does not work.

[2020-05-02 17:42] #180 closed

[2020-05-02 20:27] ItsNash0 commented on #173
running into the same issue... it won't work on Nuxtjs because of this

[2020-05-02 22:18] antzah commented on #173
Getting the same error on a "plain" Vue project 😣

[2020-05-02 22:24] antzah commented on #173
Seems to be a problem with the plyr package – after I downgraded it to 3.5.10, everything works.

[2020-05-04 12:42] afuno commented on #171
The problem is solved in https://github.com/sampotts/plyr/releases/tag/v3.6.2

[2020-05-04 12:42] #171 closed

[2020-05-04 16:05] ItsNash0 commented on #173
Do you manage to show the fullscreen button on production with nuxt?

[2020-05-07 13:53] lustremedia opened #181 "Question access player in plugin"
Using nuxtjs SSR
I am trying to access the main player instance through a plugin. Is the instance registered globally or can I access the instance via context somehow?

[2020-05-08 04:13] LtoOs opened #182 "the off method does not work"
Good afternoon.
I am trying to remove an event listener for the specified event in the beforeDestroy hook, but listening to the event remains. Only this.player.destroy helps. What could be the problem?

beforeDestroy() {
    this.player.off('timeupdate');
}

[2020-05-08 08:41] ux-powered opened #183 "Move "plyr" to peerDependencies"
Hi,

It would be great if `plyr` dependency will be moved to `peerDependencies` because currently we can't control Plyr version installed. Since the package is in active development, sometimes it brings unexpected issues and build failures, which unacceptable in production.

[2020-05-08 08:45] ux-powered commented on #183
Sorry, I missed that we can specify plyr version directly in the package.json

[2020-05-08 08:45] #183 closed

[2020-05-11 15:47] lustremedia commented on #181
Ok I solved that with an eventbus cheers!

[2020-05-11 15:47] #181 closed

[2020-05-13 04:12] fac42 commented on #138
Vue-Plyr is breaking on IE11 for me as well; I'm guessing it's because it's not using the polyfilled version of the plyr library. Not using nuxt like the other posters above. Could we get some help with this?

[2020-05-16 17:38] lobothijau opened #184 "How can I refresh plyr after updating data-plyr-embed-id"
I try to use data with a method to change `youtubeId` value, but the palyer didn't refreshed when `youtubeId` is updated. How can I refresh the player?

[code]

[2020-05-17 20:17] akbarjoudi opened #185 "Quality switcher for HLS"
It appears that HLS quality switching is a highly requested feature and several other players seem to have this plugin. I see the ground work was laid with this commit/issue below.
Is there any time frame to implement this feature? I think overall it's a great player and loads HLS videos faster for me than other open source players.

[2020-05-21 17:26] laugoabad opened #186 "Hi, Thanks for vue-plyr, it works almost pefectly for me but as I use the video as background I would like to disable the controls. How can I do it?"

[2020-05-22 13:19] jwjcmw commented on #186
You would do that in the config values that you pass to plyr...see this: https://github.com/sampotts/plyr/issues/414  But as is noted in that issue, plyr is overkill for a background...you could probably just use a video tag.

[2020-05-30 12:42] vahost opened #190 "Microsoft Edge issue: [vue-router] Failed to resolve async component default: SyntaxError: Expected identifier, string or number"
My new app runs without errors in Chrome and other browsers, but it generates an error in Microsoft Edge's (pre-Chromium) console, and the app returns a blank page.

The only file I have so far where I've added async to it is this one:

[code]

The feed in question is a podcast feed, and my script returns "feed", which is a string. So I don't see what I'm doing wrong.

How can I fix this?

[2020-05-31 11:19] DiAvisoo commented on #169
this.player.on('ready', () => {
      this.player.embed.getDuration().then(function(duration){
        console.log(duration)
      });
    });

[2020-06-03 09:55] simonhrogers commented on #29
@mostafaznv this is a lifesaver, thank you! I’m getting a slight issue at the moment – the first time I visit a page with this component, it seems to render the two elements separately – the plyr elements end up in an ugly mess above, and the full video below.

After that it always works fine – or works fine if I refresh the page. Have you experienced the same?

[2020-06-03 10:07] mostafaznv commented on #29
You're welcome @simonhrogers
No, I didn't see this before.
Just check hls and plyr with a console.log
I think you have a problem with initiating things.

If you have any live demo and code, I can check it.

[2020-06-03 15:21] simonhrogers commented on #29
Hi @mostafaznv – thanks so much for your response!
I’m an idiot and was really struggling to get a live demo together with codesandbox (I gave up).

I have found a workaround, and thanks to your pointer above figured out one possible issue with what I was doing. Describing here incase useful for others:

firstly, previously I was importing the SSR–friendly version of `vue-plyr` like described in t

[2020-06-08 10:07] simonhrogers opened #197 "CSS Custom Properties not working with vue-plyr and Nuxt SSR"
Hi there,

Got a confusing issue!

Setup as per the docs, with Nuxt @2.8.1, the CSS custom properties are flattened to their static values when I run my app – meaning my updates to the variables get ignored.

If I render components containing vue-plyr on the client only, the CSS builds correctly – do you have any experience with this?

Ideally I would be able to render them on the server too

Than

[2020-06-08 10:44] vana-dev commented on #12
not working for me :/ this.$refs.player.player returns undefined

[2020-06-09 10:21] study-loading commented on #190
`VuePlyr.install = (Vue, options = {}) => {
  if (options.plyr) {
    VuePlyr.props.options.default = () => { return { ...options.plyr } };
  }
  if (options.emit) {
    VuePlyr.props.emit.default = () => { return [...options.emit] };
  }
  Vue.component(VuePlyr.name, VuePlyr);
};

if (typeof window !== 'undefined' && window.Vue) {
  window.Vue.use(VuePlyr);
}

export default VuePlyr;
`

It appear

[2020-06-09 11:04] study-loading commented on #190
`VuePlyr.install = (Vue, options = {}) => {
  if (options.plyr) {
    VuePlyr.props.options.default = () => {
      return { ...options.plyr }
    }
  }
  if (options.emit) {
    VuePlyr.props.emit.default = () => {
      return [...options.emit]
    }
  }
  Vue.component(VuePlyr.name, VuePlyr)
}`

edge is not support rest

[2020-06-12 07:46] Olis-HL opened #198 "You may need an appropriate loader to handle this file type."
ERROR in ./node_modules/vue-plyr/dist/vue-plyr.mjs
Module parse failed: Unexpected token (234:53)
     You may need an appropriate loader to handle this file type.
     | VuePlyr.install = (Vue, options = {}) => {
     |   if (options.plyr) {
     |     VuePlyr.props.options.default = () => { return { ...options.plyr } };
     |   }

[2020-06-17 07:15] badu22 opened #199 "Show ads"
Can i show ads if i am not using vi.ai publisher ID?

when i put
[code]

Nothing happens.

[2020-06-17 07:43] badu22 commented on #199
in console

[code]

[2020-06-17 09:12] badu22 commented on #199
vue.config.js
[code]

[2020-06-17 11:22] badu22 commented on #199
repo: https://github.com/badu22/videoPlayer-vue

[2020-06-17 18:53] redxtech commented on #199
Hey, this seems like an issue to take up with [upstream](/sampotts/plyr). I don't handle the ads, just the vue wrapper.

[2020-06-18 06:21] badu22 commented on #199
Error with imasdk happens only in vue enviroment, using vue wrapper.

[2020-06-18 06:24] redxtech commented on #199
Odd. You've tested with native plyr on the same address (127.0.0.1:8080) as well?

[2020-06-18 07:41] badu22 commented on #199
Yes i have (https://github.com/badu22/videoPlayer) it works as expected.

[2020-06-24 14:54] SriNandan33 opened #200 "How to override css variables"
Hi, I am trying to customize css variables, but they are not reflecting. I tried adding in the :root element
[code]

[2020-06-26 15:04] SriNandan33 commented on #184
Facing the same issue here. Can somebody help us please

[2020-06-30 03:59] liquidvisual commented on #199
@badu22 Did you manage to find a fix for this? I can't gets ads working in Vue either.

[2020-06-30 07:36] liquidvisual commented on #199
@badu22 When I run your code I don't see any ads. Is this working on your end?

When I attempt to run ads in Vue (in general) I get a `Blocked a frame with origin "localhost" from accessing a cross-origin frame` error :(

Has anyone managed to get this working?

[2020-06-30 08:32] redxtech commented on #199
That looks like an error with whoever if providing the ads. I'm guessing that when working with the ad dashboard you had to specify URLs that would be displaying the ads. If you want to test them on a dev build of the website (ie: running on `localhost`), you will have to specify that in the dashboard, or however that would work.

Another reason could be the ad company blocks showing ads on `local

[2020-06-30 08:41] badu22 commented on #199
@redxtech i used https://developers.google.com/interactive-media-ads/docs/sdks/html5/client-side/tags for testing adds.

[2020-07-04 20:58] ElioMS commented on #184
Does anyone got the solution? I'm facing the same issue here :(

[2020-07-10 05:56] skvair commented on #184
`this.player.source = {
        type: 'video',
        sources: [ { src: this.idvideo, provider: 'youtube', },]
      ,}`

Just update the source

[2020-07-20 18:19] core01 commented on #165
Hi @redxtech could you, please, update plyr dependency to at least 3.6.1 version?  Because they had fix that error https://github.com/sampotts/plyr/releases/tag/v3.6.1

[2020-08-11 02:27] lianwf commented on #198
How did you solve it in the end

[2020-08-15 20:31] vahost opened #213 "iPhone Auto-Lock Or Using Other Apps Stops Sound"
I love this component, but I've run into an issue that I don't know how to fix.

I use vue-plyr to play .m4a files to app users. I used Quasar with Cordova to build my iPhone version of the app.

iPhone users who play the .m4a files are experiencing an issue when the iPhone's auto-lock feature kicks in.

When the iPhone auto-lock setting time gets reached, the audio file keeps playing for a moment

[2020-08-17 09:14] Kuuzou-cl commented on #199
@badu22  Did you fix it? I'm trying to add VAST too but I got always an error
`Uncaught DOMException: Permission denied to access property "__ob__" on cross-origin object vue.runtime.esm.js:152`
already tried with Vue and Nuxt

[2020-08-21 22:06] troskcey opened #214 "Allow youtube player controls(copy link, clickable title etc)"
The problem is that I cant click on youtube top controls, which as copy link, watch later etc
My solution further, hope that will be useful for someone else
Works fine, but on some milliseconds shows Youtube button, which(i think) can't be fixed

VuePlyr.js
[code]

plyr.css
[code]

[2020-09-01 08:06] andreasantonsson commented on #184
I had the same problem and found that the [Vue key attribute](https://vuejs.org/v2/api/#key) does the trick. That way Vue knows it's time to get rid of the old component and create a new one.

[code]

[2020-09-04 09:28] seifertm commented on #126
I am experiencing the same problem using `vue-plyr` with `vuepress` SSR and filed an upstream bug.

[2020-09-08 13:08] Arxi commented on #198
@Olis-HL @lianwf also stuck on this, did you find any solution?

The problem seems to be the spread operator (...), so I tried updating my babel libs and including babel plugins:
"@babel/plugin-transform-spread"
"@babel/plugin-proposal-object-rest-spread"

but doesn't help

[2020-09-09 07:05] mvaneijgen opened #225 "player.js:10 POST https://fresnel.vimeocdn.com 500 error"
I'm getting a lot of 500 errors in my console due to the fact that I'm loading a view videos via `vue-plyr` and I don't know where they are coming from (Probably from the Vimeo `player.js` API, but I was wondering if there was a way to suppress via `vue-plyr` those warnings, cause everything is working fine, but it is really hard to debug my code with the console littered with all those errors
[co

[2020-09-09 07:07] #225 closed

[2020-09-09 07:08] mvaneijgen commented on #225
It was my ad blocker

[2020-09-09 13:09] ilyasdx91 commented on #200
same

[2020-09-10 10:32] daviddang91 commented on #200
Same issue

[2020-09-10 17:35] imakeinternet commented on #184
Adding a key attribute solved all my reactivity issues. Thanks for the kick in the pants! :)

[2020-09-10 20:13] kpguru20001 commented on #185
I m also having an issue with quality controller

[2020-09-18 16:27] Quasarman commented on #200
Same issue any solution for this?

[2020-09-20 22:52] dcastrili commented on #198
Hello,

Try to install the [babel loader](https://webpack.js.org/loaders/babel-loader/)

[code]
and add the rules to your webpack config file

[code]

[2020-09-22 06:44] ilyasdx91 commented on #200
I just interrupted these styles ,!important =)

[2020-09-23 06:01] Quasarman commented on #200
Hello @ilyasdx91,

where exactly did you "interrupt" the styles. Because for me it does not work by just putting a ```!important``` behind the variable in :root?

[code]

[2020-10-01 08:37] skjnldsv commented on #198
Yes, this is unrelated to this library, this is because you're not using the appropriate loaders
https://github.com/nextcloud/viewer/blob/master/webpack.js#L11-L26

You also need to include it in the babel transpilling process

[code]

[2020-10-01 08:45] skjnldsv opened #233 "Plyr latest is v3.6.2"
This package is still using 3.5.10.

@redxtech is this unmaintained? Do you need help maintaining this library?
There is 10k weekly downloads, this is quite a popular package :)

Thanks! Take care! :v:

[2020-10-03 07:56] myheart1401 opened #234 "Could I use it on Wordpress ?"
I cannot upload this on wordpress. It said failed. Please help me, I like very much this plugin. Please show me the way to install them on wordpress. Thank you

[2020-10-03 10:59] gadnis opened #235 "Improve Documentation"
Hi,

It would be great to have some player images in wiki.
Cause not bunch of steps need to be done just to check how it looks like.

Do you think of doing this small improvement to your repo?

[2020-10-10 11:55] MirzaeiDev commented on #234
hi
Ye, you can not upload it because it is for Vue.js
you should use it for your WordPress
[https://github.com/sampotts/plyr](https://github.com/sampotts/plyr)
hope to enjoy

[2020-10-15 07:18] jd-0001 opened #241 "Vue 3 Support"
Does this plugin have plan for vue 3 support @redxtech ??

As vue 3 already got a release-candidate it will soon get an official release.

[2020-10-19 03:37] riderx commented on #233
yes please !

[2020-10-21 13:33] MirzaeiDev commented on #213
same

[2020-10-27 23:45] havalito opened #248 "Subtitles not showing on IOS devices"
So this is an odd issue, when I have the player run on iOS devices without adding the inline tag the subtitles wont work, they are available to choose from in the native player but nothing shows.

I have only seen this behavior on IOS devices, any ideas?

[2020-10-28 02:28] PeiDeng commented on #198
finally I solved this problem depends on the solution from @dcastrili @skjnldsv, with a little modification.
`{
        test: /\.mjs$/,
        loader: 'babel-loader',
  }`
put this into the webpack rules instead of above if you are still struggling

[2020-10-31 22:46] redxtech commented on #162
Hey! Sorry for the delay. Have you tried using the same with upstream plyr? I'm not sure exactly how that handles this scenario, but it's likely that's an issue with upstream.

[2020-10-31 22:46] redxtech commented on #165
Closing because I'm updating the plyr version now

[2020-10-31 22:46] #165 closed

[2020-10-31 22:50] redxtech commented on #166
Glad you found a workaround! I'll close this for now, but if you still have this issue once I update to the latest version of plyr, feel free to open it again (or a new one). However, it's more likely an upstream issue, so opening an issue there first might be better.

[2020-10-31 22:50] #166 closed

[2020-10-31 22:52] redxtech commented on #167
I'm going to close this, but I'm pretty sure it's something you should take up with upstream instead of this repo here.

[2020-10-31 22:52] #167 closed

[2020-10-31 22:54] redxtech commented on #168
I'm not sure what's going on here. I'd suggest you try with vanilla plyr and see if the issue remains, as I think this might be an issue with upstream.

[2020-10-31 22:55] redxtech commented on #169
Looks like you've found a solution, so I'll close this issue.

[2020-10-31 22:55] #169 closed

[2020-10-31 22:55] redxtech commented on #172
I'm closing since I have no clue what you're trying to say here.

[2020-10-31 22:55] #172 closed

[2020-10-31 22:56] redxtech commented on #182
I'm not sure. I think it would be an issue with upstream, since this is a wrapper around plyr.

[2020-10-31 22:56] #182 closed

[2020-10-31 22:57] redxtech commented on #184
Looks like you've already come to the conclusion that I would have: use the `key` attribute. Glad to see it's working.

[2020-10-31 22:57] #184 closed

[2020-10-31 22:58] redxtech commented on #185
This is something to take up with [upstream](/sampotts/plyr). I can't do anything about this.

[2020-10-31 22:58] #185 closed

[2020-10-31 22:59] redxtech commented on #186
@jwjcmw is correct.

[2020-10-31 22:59] #186 closed

[2020-10-31 23:03] redxtech commented on #190
I'm pretty sure this is caused by the runtime not being able to parse mjs files. Also, the provided code has nothing to do with vue-plyr as far as I can tell, so I'll close this.

[2020-10-31 23:03] #190 closed

[2020-10-31 23:04] redxtech commented on #197
I have not encountered this specific issue, but when using SSR I will make sure that vue-plyr is client rendered only. Since it's nuxt that's building the CSS, I'd recommend looking through their docs/issues/etc. to see if it's an issue on their side.

[2020-10-31 23:04] #197 closed

[2020-10-31 23:05] redxtech commented on #198
As the others have stated above, this is an issue with your tooling, so I'll close this.

[2020-10-31 23:05] #198 closed

[2020-10-31 23:08] redxtech commented on #199
I have no idea what the issue could be, but it looks like it's outside the scope of this component. Try using plyr in a vue app without vue-plyr, but other than that I've got nothing.

[2020-10-31 23:08] #199 closed

[2020-10-31 23:11] redxtech commented on #213
This is something to take up with upstream, as it looks like you've already done. I'm not going to build something like this for a wrapper, so I'll be closing this. Hopefully upstream adds this feature in the future!

[2020-10-31 23:11] #213 closed

[2020-10-31 23:13] redxtech commented on #214
I'm pretty sure that's because of overlays/invisible parts of elements, sizing and such. This is most likely an issue with upstream, so I'll close this issue for now.

[2020-10-31 23:13] #214 closed

[2020-10-31 23:15] redxtech commented on #233
Thanks for letting me know! I've been busy with school, so I haven't had too much time to dedicate to this project recently. I will now be updating the version of plyr, and should keep it updated in the future.

I hadn't realized that this package was reaching that many downloads! Now that I'm aware I guess I'll have to pay more attention to things like this!

Thanks for letting me know again, I'l

[2020-10-31 23:15] #233 closed

[2020-10-31 23:17] redxtech commented on #234
This is a wrapper for `plyr` to be used in vue. On the `plyr` page, there is a [list of plugins](https://github.com/sampotts/plyr#plugins--components). There is one for wordpress.

[2020-10-31 23:17] #234 closed

[2020-10-31 23:18] redxtech commented on #235
I will not be adding images, as that is handled by upstream (this is just a wrapper). If you would like to see what it looks like, view the [original repository](https://github.com/sampotts/plyr).

[2020-10-31 23:18] #235 closed

[2020-10-31 23:19] redxtech commented on #248
I have not come across this, but it seems like it would be something to take up with upstream. Try with just `plyr`. If the issue is gone, feel free to reopen another issue with some details.

[2020-10-31 23:19] #248 closed

[2020-10-31 23:20] redxtech commented on #241
I'm working on an update right now that should take care of this (among other updates).

[2020-10-31 23:20] #241 closed

[2020-10-31 23:23] redxtech commented on #126
My recommendation is to prevent this component from server rendering, and let it be taken care of by the client.

[2020-10-31 23:23] #126 closed

[2020-10-31 23:23] redxtech commented on #137
Yeah, this would be caused by your tooling not recognizing the mjs format.

[2020-10-31 23:23] #137 closed

[2020-10-31 23:25] redxtech commented on #138
I'll most likely deal with this by adding a direct copy of the component but using polyfilled plyr in an upcoming version. Thanks for letting me know!

[2020-10-31 23:25] #138 closed

[2020-10-31 23:26] #162 closed

[2020-10-31 23:26] #168 closed

[2020-11-02 09:56] bekee opened #256 "this.$slots.default is not a function"
On nuxtjs plugin for "vue-plyr": "^7.0.0-rc.1" i get this.$slots.default is not a function.

Any help on this?

[2020-11-02 09:57] redxtech commented on #256
Down grade to v6 until stable v7 comes out. I haven't tested with nuxt on this version yet.

[2020-11-02 11:28] praine opened #257 "version 7 not working correctly from cdn"
The new version 7 of vue-plyr no longer initializes correctly when included from CDN:

"Unknown custom element: <vue-plyr> - did you register the component correctly?"

[2020-11-02 11:30] redxtech commented on #257
That change is reflected in the README. Also v7 is not yet fully released.

[2020-11-02 11:30] #257 closed

[2020-11-02 11:38] praine commented on #257
sorry, i tried reverting to the previous version but I'm still getting the same issue.. could you advise?
It was working fine until today.

[2020-11-02 11:39] redxtech commented on #257
Previous versions worked fine, check examples folders in older commits. Also, I published v7 beta today, so that's why.

[2020-11-02 11:46] praine commented on #257
ok, i downloaded previous version from cdnjs.
can I ask why the change with the initialization?

[2020-11-02 11:46] redxtech commented on #257
The old method didn't work with vue 3.

[2020-11-02 11:48] praine commented on #257
OK, thanks.

On Mon, 2 Nov 2020 at 20:47, Gabe Dunn <notifications@github.com> wrote:

[2020-11-02 13:16] #256 closed

[2020-11-02 16:52] alpkabac opened #258 "vue-plyr instance does not persist on page refresh"
When I navigate between pages through my navbar or browser's back and forward buttons, Player is there, but when I refresh the page, it is gone without any errors. Before it appears again, I need to navigate between pages. My frontend is fine so I wanted to ask if this is a bug. Also, I am using the stable version.

[2020-11-03 06:00] redxtech commented on #258
I got a similar issue somehow last night, I found that when I bumped `rollup-plugin-vue` to the latest beta it got rid of the issue. That is included in the latest released version of vue-plyr (v7.0.0-beta.2). It should be more stable now, and if they were the same issue it should be all good.

[2020-11-03 06:02] redxtech commented on #173
Looks like this was an issue with plyr, which has fixed it, and the updated version has been included here.

[2020-11-03 06:02] #173 closed

[2020-11-03 06:04] redxtech commented on #256
I have just finished testing on nuxt with this version and it's fixed and published on npm as v7.0.0-beta.2.

[2020-11-03 06:04] redxtech commented on #241
Just letting you know that vue 3 is supported with the newest release (v7.0.0-beta.2).

[2020-11-03 06:10] redxtech commented on #233
Newest beta version (v7.0.0-beta.2) is using latest version of plyr and is compatible with vue 3!

[2020-11-03 06:11] redxtech commented on #225
I've gotten into a panic when the instagram feed for a site I was working on was broken (on production), I had no clue was the issue was. It was also the adblocker. Glad you figured it out!

[2020-11-03 06:17] redxtech commented on #235
I've added a demo page at https://redxtech.github.io/vue-plyr/ in lieu of images, hope that helps.

[2020-11-03 08:08] redxtech commented on #200
I know it's a bit late, but I'm fairly certain this has been fixed in the latest version. I tried it in a `vue-cli` project (vue 3), and a nuxt project (vue 2), and it worked perfectly in both of them. Maybe this has something to do with where you're declaring your variables?

To reproduce my setup, go into either of the `nuxt` or `vue-cli` folders in `examples/`, and add the following code to `pa

[2020-11-03 12:14] skjnldsv opened #259 "Root element overwrite parent"
@redxtech The new 7.0.0 release obliterate the parent container.
Making it lose classes, data-scoping, attributes... etc etc

This is a big regression, I think it should be fixed as it break the normal flow of vuejs.

| Status | Output html code |
|:---------:|:------:|
|Before|![Capture d’écran_2020-11-03_13-11-19](https://user-images.githubusercontent.com/14975046/97983793-21128200-1dd6-11eb-98a

[2020-11-09 08:19] PiotrekPKP opened #260 "This.$refs.plyr is undefined"
When trying to get the player instance (I used app.use(VuePlyr)), this.$refs.plyr returns undefined.

MAIN.TS:
`import VuePlyr from 'vue-plyr'`
`import 'vue-plyr/dist/vue-plyr.css'`
...
`app.use(VuePlyr);`

MY COMPONENT:
`console.log(this.$refs.plyr);`

It shows undefined.
Thanks in advance!

[2020-11-09 08:24] #260 closed, assigned to nobody

[2020-11-12 17:48] TroyKomodo opened #265 "Add support for vue event emitters"
Add support for vue event emitters.

[2020-11-14 13:33] PotatoRui opened #266 "Update please 3.6.3"
Please update to latest css :c
Firefox issue : Flexbox overlaps

[2020-11-15 08:30] EnJiang commented on #259
I am getting ```Multiple root nodes returned from render function. Render function should return a single root node.``` I suspect it's this problem.

[2020-11-15 20:39] #258 closed

[2020-11-21 11:11] kollol-dev opened #269 "How to pause all other videos while playing a single video in Nuxt?"
I have one or two arrays of videos. An user can click and play any of them.

here is my code.
[code]
Problem is, user can click multiple videos to play and all the videos are being played and creates a mess. Now all I want is, if any user click on a video to play, all the other videos had played before should be paused. Is there any idea how can I do this?

[2020-11-30 12:41] JekaMedvedev opened #277 "ios when the screen is locked does not emit the 'ended' event"
I have a playlist that switches the track at the end of playing a track. The problem is that everything is ok on android. But on the iPhone, playback stops, but if the phone is unlocked, then the next track will resume.
[code]

[2020-12-02 08:57] dawadam commented on #184
I think this trick need to be in README.
:+1:

[2020-12-06 14:54] zshchou opened #282 "how to play local video in vue3?"
video_url='/static/demo/video.mp4'

can't use required('/static/demo/video.mp4') in vue3.

[2020-12-06 15:15] zshchou commented on #282
this way still can't play:
video_url=window.location.orgin+'/static/demo/video.mp4'

[2020-12-07 02:11] zshchou commented on #282
I solved!
move static to pulic folder!

[2020-12-07 02:11] #282 closed, assigned to nobody

[2020-12-08 17:26] set-killer opened #287 "Running `npm install` requires a git/ssh client"
Hello,

In the package.json file there is the dependency section that looks like this:

[code]

The problem here is that Plyr is linked directly to the github repository of the Plyr player. So it requires a git client installed on the local machine in order to download this dependency. This is a problem for minimalistic environments (like docker) that does not have git client installed locally.

R

[2020-12-09 07:20] NightWolf00 opened #288 "Subtitle in track element not working with reletive pass?"
hi i have problem in adding subtitle in track element . when i use cdn pass in example its working but my reletive passes are not !!!
what should i do to fix this problem.
**********************************************
this is my track element that working :
<track
default
kind="captions"
label="English captions"
src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
srclang

[2020-12-14 03:20] riderx opened #292 "Cannot purge css"
Concat css disalow us to use purgecss in nuxt
[code]

[2020-12-19 18:09] eladcandroid commented on #126
@redxtech I don't understand how to handle it on client.
I'm using <vue-plyr> with Quasar SSR mode.
Vue-plyr worked great until 7.x version

[2021-01-09 17:28] MartCube commented on #292
did you resolved this question ? @riderx

[2021-01-12 01:21] riderx commented on #292
Nope for now i did a full ignore for all class of the plugin 👎

[2021-01-18 13:19] kreativnetz commented on #266
Having the same problem. Volume controls overlapping config.

[2021-01-19 14:50] lucasribolli opened #308 "Outdated CSS"
Please update the `vue-plyr.css` to the [last version](https://cdn.plyr.io/3.6.3/plyr.css). I had to do it manually and worked perfectly with the actual JavaScript.

[2021-01-19 17:47] kennybuc commented on #54
This does not work for me. The player is still undefined.

[2021-01-24 12:52] superdiazzz opened #309 "How to ref object plyr in Vue 3?"
Actually, i want to trigger vue-plyr whenever my button clicked. I use Vuejs 3, this is looks like

[code]

[code]

[2021-02-03 10:56] fahim525 commented on #18
@redxtech Thank you for your answer. It works fine for me.

[2021-02-05 02:57] #309 closed, assigned to nobody

[2021-02-05 20:14] spencercap commented on #46
something like this in vue 3 SFC:

`VuePlyr.vue`:
[code]

[2021-02-10 08:59] bekee opened #320 "Events not firing after updating from version 6 to 7"
This issue is on NuxtJs, any help is really appreciated

[2021-02-23 17:44] jonalxh opened #324 "Play youtube video as audio"
Hi, I want to know if there is a way to play a youtube video like an audio, I just want the audio to be played, paused, change the playing second, and all the settings your player now provides, but without the video.

If this is not possible I want to know if i can hide the video title and settings like share or watch latter, the reason is that I dont want the end user to find the video in youtube

[2021-02-23 18:09] jonalxh commented on #324
An small fix I've found is adding the following styles:

[code]

[2021-02-28 19:10] angryeuan commented on #320
I think i might be seeing this too.

All was well until a couple of weeks ago, then things just ceased to function. The players are loading, but no events are reaching the relevant APIs (either YouTube or Vimeo)

Not sure if its related to the version of this repo though. Seems to me like either a change in the provider APIs or (more likely) a browser update.

@bekee have you had any luck sorting

[2021-02-28 20:59] angryeuan commented on #320
Sorry, my issue was a weird lifecycle thing. Plyr didn't have everything it needed on mount. Maybe the same is true for you, @bekee

[2021-03-06 00:07] muarachmann commented on #287
Same issue here, yarn works fine

[2021-03-12 08:45] chongeva opened #331 "Unable to npm install package"
I am having problems installing this package using npm
The trace log from npm install vue-plyr --verbose is as follows

    npm info using npm@7.6.2
    npm info using node@v15.10.0
    npm timing config:load:defaults Completed in 2ms
    npm timing config:load:file:/usr/local/lib/node_modules/npm/npmrc Completed in 1ms
    npm timing config:load:builtin Completed in 1ms
    npm timing config:load

[2021-03-12 22:30] Venipa opened #332 "Cannot read property 'appendChild' of null while reopening"
https://i.mavis.moe/f/lJgFF9LpRy/2021-03-12-23-27-11mp4.mp4
it seems like vue-plyr is not able to get the parent the second time.
according to the variable the node is not rendered yet in the dom, so video.parentNode is null
[code]

[2021-03-15 21:55] Jesus1124 opened #335 "Get "play() failed because the user didn't interact with the document first." error on Chrome"
In order to avoid this problem, I muted the video and it plays well.
But when I try to unmute it, the video is paused and I get the error above.

Please let me know if there's a simple way to solve this issue.
Thanks.

[2021-03-15 22:11] cfabrice commented on #335
same here... probably related  to this:  [https://github.com/sampotts/plyr/issues/2138](https://github.com/sampotts/plyr/issues/2138)
This is not fixed with latest plyr (3.6.4)

[2021-03-16 11:13] MartCube opened #336 "Feature Policy Warnings"
Hello there and thank you for your time.

I'm using your code in a Nuxt SSR project. To be more precise I use the fallowing:
[code]
The code works and everything is great, however I get some warning in the console
"Feature Policy: Skipping unsupported feature name “autoplay,fullscreen,picture-in-picture”."

This might not be related to your code, it might come from the plyr player it self,
but I'm

[2021-03-16 11:47] MartCube commented on #336
Since I load my video in a non Safari browser I get this warnings because the unsupported features are only related to Safari.
If there is not anything related to add by the author then he can close this issue.

[2021-03-22 07:54] AndriyLenginDev commented on #335
Hello everyone.
I am using the latest vue-plyr and plyr (v3.6.4) and experiencing the same problem. Got the same console error logs
`Uncaught (in promise) NotAllowedError: play() failed because the user didn't interact with the document first. https://goo.gl/xX8pDD`
 The problem can be reproduced in the Chrome browser only (Windows, Mac, mobile devices). After some research found that video can pl

[2021-03-29 22:37] kgnfth commented on #260
I have the same problem
did you able to fix it ?

[2021-03-30 09:38] diesel701 commented on #287
Had issues too, used set-killer repo with the version (and not the github reference) of 'plyr' package and it worked.

But now the package does not compile and does not create the dist folder.

How can I fix it?

@redxtech please fix this in the official repo, thanks

[2021-03-31 11:18] PiotrekPKP commented on #260
You have to add ref="plyr" to your vue-plyr component

[2021-04-06 15:24] allenhark commented on #269
Any solutions for this issue?

[2021-04-06 16:30] kollol-dev commented on #269
No not yet

[2021-04-18 12:13] amirheydari9 opened #355 "how can lazyload poster and video with this player ?"

[2021-04-19 22:20] pjatx opened #358 "https://vimeo.com/api/v2/video/{id}.json not found"
Found a bug that seems to be inherited from earlier versios of plyr - wondering why it still seems to show up here?

https://github.com/sampotts/plyr/issues/1181

Would be awesome if we could grab the changes from this PR into this library as well: https://github.com/sampotts/plyr/commit/5d2c288721bd8d7be77352cf1f8f81c2592aeed5

[2021-04-20 00:40] ateliershen opened #359 "Build error in vue-plyr.css when using @nuxt/postcss8"
Hi,

I am using `Nuxt.js v2.15.4` and `vue-plyr 7`. It throws the following error when running the `build` command:

08:32:12.800 | ERROR in ./node_modules/vue-plyr/dist/vue-plyr.css (./node_modules/@nuxt/postcss8/node_modules/css-loader/dist/cjs.js??ref--3-oneOf-1-1!./node_modules/@nuxt/postcss8/node_modules/postcss-loader/dist/cjs.js??ref--3-oneOf-1-2!./node_modules/vue-plyr/dist/vue-plyr.css)
-

[2021-04-22 03:01] riderx commented on #359
Same here

[2021-04-23 13:20] dargmuesli commented on #359
With postcss v8.2.12 I receive the error
[code]

See this [build log](https://github.com/dargmuesli/creal/pull/93/checks?check_run_id=2415446571)

[2021-04-23 14:22] frederic117 commented on #359
I got the same error
Module build failed (from ./node_modules/postcss-loader/src/index.js):                                                                                                      friendly-errors 16:17:14
ParserError: Syntax Error at line: 1, column 51
    at .....\node_modules\plyr\dist\plyr.css:1:2198
Nuxt 2.15.4 and last version.
It works with plyr: 3.6.4

thks for the help

[2021-04-24 22:49] elihorne commented on #359
I'm experiencing the same problem. I tried rolling postcss back from 8.2.12 to 8.2.10, but the error remains.

[2021-04-25 06:39] ghost opened #361 "Anything I can do improve performance?"
edit: I opened this issue on the wrong project.  ignore

[2021-04-25 07:08] taylor-mccants commented on #18
@redxtech
Hi. I am still struggling with his particular issue. Can someone post their final resulting code?

In my code, the first video autoplays no problem, but when I call updateVideo() to update the videoUrl and when I change the source using the player state it just restarts the same video that's already playing.

In addition, setting the current time always results in 0 when I'm changing vid

[2021-04-25 17:10] benoitvogel commented on #332
[code]
Same problem here (vur-plyr 7.0.0 w/ vue 2.6.12) when changing src prop to a different URI multiple times in a row.

Works well with vue-plyr 6.0.4 though.

[2021-04-26 16:12] #361 closed, assigned to nobody

[2021-04-27 15:16] elihorne commented on #359
As an interim workaround, I've removed Plyr's css from my plugin file, and instead am pulling it from the unpkg CDN.  It now successfully generates the build.

[code]

[2021-04-27 16:09] MrDussel opened #362 "src from props"
Hi! Thank you for your package :)

I'm loading the sources like this

[code]

projektData is stored in

[code]
and passed by the parent component correctly.

The html dom renders correctly like this

[code]
**The default resolution can be played, but I can not change the quality.**

I tried to set a key like

[code]

Is there a way to "resource" the sources for the player?
How can I pass the sourc

[2021-05-05 17:10] jeffreykthomas commented on #358
I also am experiencing that bug, video isn't playing anymore...

[2021-05-05 17:12] pjatx commented on #358
@jeffreykthomas I tried patching it myself, but couldn't quite get it to work - if you find a better library or workaround lmk!

[2021-05-05 19:46] meuhland commented on #358
@pjatx & @jeffreykthomas
You can look into the fork I did of the repo here https://github.com/meuhland/vue-plyr you can install it straight from GitHub using npm it's built against the latest sampotts/plyr version.

If need be I can look into pushing to npm to help you... (Not looking into taking over maintaining... just did the work and willing to share!)

[2021-05-05 21:35] pjatx commented on #358
Legend, thanks so much @meuhland! No expectations attached : )

[2021-05-05 23:05] pjatx commented on #358
@meuhland heads up the css is breaking per https://github.com/redxtech/vue-plyr/issues/359. Going to implement this solution, but may also fork your fork and fix

[2021-05-09 15:53] kentforth opened #375 "play and pause on space key"
If I click on the left play button the hot key space works for toggling play and pause, but if I click on center of the video the space key doesn't work.
**Can you fix it?**

[2021-05-09 16:26] KobusPost commented on #18
Whenever I change the source dynamically using the sources object, the source changes. But I cannot seek. When setting currentTime (using the progressbar or in code) the video/audio starts at 0.

I access the player object via this.$refs -> using the this.player route gives an empty object.

[2021-05-12 15:09] meuhland commented on #358
@pjatx If you're still having the CSS issue I can have a quick look and add the workaround in my fork it shouldn't be too long.

[2021-05-12 15:24] pjatx commented on #358
@meuhland I actually just implemented the workaround here, so no worries!

https://github.com/redxtech/vue-plyr/issues/359#issuecomment-827690577

[2021-05-24 18:14] riderx commented on #359
Same in my side, in plus vue-jlyr is really big so use cdn for the only page I use was a better solution

[2021-06-04 10:11] matthewlukedesign opened #401 "vimeo not playing"
Sometimes videos from Vimeo don't work. The play button changes to pause for a second then goes back.

[2021-06-10 15:16] MrDussel commented on #362
Got it workin!
Problem was my datastructure and my lack of skill.

[2021-06-10 15:16] #362 closed, assigned to nobody

[2021-06-12 12:11] hkmsadek opened #411 "Auto-pause when out of view, or when another video plays"
Hi, I am using this component just like the normal example, I would like to stop all videos when the next one starts or goes away from viewport. How to do this?

[2021-06-13 01:21] hkmsadek commented on #411
Ok I solved it, but without view port, I just pause all the videos except the one user is trying to play.. here was my logic

[code]

[2021-06-13 01:21] #411 closed, assigned to nobody

[2021-06-14 15:47] hassnian commented on #401
I'm having the same issue , I get **ERR_BLOCKED_BY_CLIENT**
![image](https://user-images.githubusercontent.com/44554284/121920548-746b8c00-cd38-11eb-9aed-ef847532fcff.png)

[2021-06-21 02:08] santana-everton commented on #269
Any solutions after a few months with that problem?

[2021-06-22 15:55] joelfloressottile commented on #20
Any news on this? Would be really helpful

[2021-07-10 21:15] TalkLounge commented on #18
This works for me
[code]

[2021-07-21 08:50] divyeshmakwana96 commented on #18
@taylor-mccants You are mixing two player getters here. From looking at the recent doc I realized that the `@player` is obsolete so the method will never be executed. Hence the `player` object will always be `null`. Your start time updates because you have used `$refs` which is the correct approach.

Try this:
[code]

[2021-07-22 14:14] saschaeggi commented on #359
Same issue here

[2021-07-30 14:36] jpaav opened #437 "Fails to `npm install` on node v16"
We were getting this error for a while, which seemed to be trying to call python3 with what is clearly python2 code. Eventually we figured out that the fix was to downgrade from node v16 to node v12. We didn't test v14 or v15.
[code]

Our issue is fixed, but I thought it would be good to post an issue here in case someone else is having the same problem, since it is not obvious that downgrading no

[2021-08-03 16:55] javiercardenaswork commented on #401
Have the same problem with Chrome Version 92.0.4515.131 (Official Build) (64-bit).

It seems to be working fine in firefox.

[2021-08-04 11:22] vin-ni opened #442 "Nuxt SSR - The client-side rendered virtual DOM tree is not matching server-rendered content"
I get that error when using plyr in a component.

Unfortunately this forces a full client side render of the page. Any ideas how this could be fixed?

Full Error:
`[Vue warn]: The client-side rendered virtual DOM tree is not matching server-rendered content. This is likely caused by incorrect HTML markup, for example nesting block-level elements inside <p>, or missing <tbody>. Bailing hydration an

[2021-08-04 12:22] zapalagrzegorz commented on #331
Same for node v14.17.3, but stops with different line:

``npm timing reifyNode:node_modules/vue-plyr/node_modules/vue ``

It might be an issue also for  [node v16](https://github.com/redxtech/vue-plyr/issues/437)
----------------------
As for me a fork of repo solves problem, at least temporary

[2021-08-07 11:15] Vusal317 commented on #54
This is work for me
await this.$nextTick(() => {
      setTimeout(() => {
       console.log(this.$refs.plyr.player)
      }, 500)
    });

[2021-08-09 21:00] Kurtmcmurt opened #443 "Vue plyr component not being rendered on refresh"
Hi all,

We have a dynamic page in our nuxt build (_page_slug.vue) which is built by components defined in a call. There is a component which is called `slices.vue` and this a dynamic component.

One of the components contains the `vue plyr` component. The data called in to populate the page is handled with `asyncData` and everything works when navigating with Nuxt/router links. *But* when refresh

[2021-08-10 02:37] collinped commented on #443
Try wrapping it in ```<client-only>``` like so:

[code]

[2021-08-11 06:17] Kurtmcmurt commented on #443
@collinped haha I saw that in the docs but assumed since the plugin was being brought in as client-only, I wouldn't need that... Wrong! Thanks for you help man 💯🤘

[2021-08-11 06:17] #443 closed, assigned to nobody

[2021-08-16 06:22] zpzyyzp commented on #442
https://github.com/redxtech/vue-plyr/issues/443#issuecomment-895682966
Maybe this will help you.

[2021-08-19 13:38] zapalagrzegorz commented on #437
As for me a fork of [repo  ](https://github.com/skjnldsv/vue-plyr) solves problem, at least temporary

[2021-08-23 16:03] vin-ni commented on #442
I will test it. Thanks!

[2021-09-04 04:12] zaidaldabbagh opened #449 "AXE Accessibility Bug - ARIA attribute is not well supported on the "Duration" element"
The following accessibility bug was identified by the axe DevTools plugin:

Element location: .plyr__time--current
Description: Ensures ARIA attributes are allowed for an element's role
Element source:
<div class="plyr__controls__item plyr__time--current plyr__time" aria-label="Current time">00:00</div>
Fix the following: ARIA attribute is not well supported on the element and the text content wil

[2021-09-04 04:13] zaidaldabbagh opened #450 "AXE Accessibility Bug - ARIA attribute is not well supported on the "Current time" element"
The following accessibility bug was identified by the axe DevTools plugin:

Element location: .plyr__time--duration
Description: Ensures ARIA attributes are allowed for an element's role
Element source:
<div class="plyr__controls__item plyr__time--duration plyr__time" aria-label="Duration">00:27</div>
Fix the following: ARIA attribute is not well supported on the element and the text content will

[2021-09-08 03:59] gilfuser opened #451 "Error in Nuxt: cannot find module '0'"
Hi everyone.

I'm getting this error when I try to build y Nuxt app with vue-plyr as a plugin:

[code]

Any ideas about what is causing it will be much appreciated

[2021-09-08 18:40] lustremedia commented on #359
I also would love to see this issue fixed!

[2021-09-22 10:32] vin-ni commented on #443
I get the same error on the official nuxt demo. The videos are not loading:

![Screenshot 2021-09-22 at 12 31 15](https://user-images.githubusercontent.com/9806572/134328320-bdcf8600-2307-4467-be31-91e037402d8f.png)
![Screenshot 2021-09-22 at 12 31 23](https://user-images.githubusercontent.com/9806572/134328337-695f3fdb-ed66-448e-a330-4b65b3a7735d.png)

[2021-09-22 10:45] vin-ni commented on #442
`<client-only>` solves it, but is rather a hack i believe. How could I do true ssr? It seems it used to work some time. The demos are also broken though.

[2021-09-25 14:32] ckeim opened #452 "Videos do not pause on click on Android"
Once a user clicks the large play icon - they cannot pause the video by re-clicking the video like they can on desktop.

[2021-09-27 07:04] lustremedia commented on #442
I ran into the same issue with the newer 7.0 version. 6 was not giving me that error, plus the css build process is not working, so I am just not going to use this module any longer ... :-(

[2021-09-27 07:10] lustremedia commented on #359
I also get the error with postcss7 and vue-plyr, so I am wondering if postcss is really the culprit here...

[2021-10-08 19:07] funtionalcode opened #454 "v-model:src"
hi all,

In vue3 `<video ><source :src="myVideo"/></video>` ,`:src` does not take effect, only the src effect of the first load

[2021-10-18 17:52] unremarkablegarden commented on #359
Still broken on my end.

[2021-10-20 04:37] hammygoonan commented on #401
I've also got this issue. Works fine in Firefox but not in Chrome.

Not sure if there's a clue in it, but it only works in Brave when "Shields up" is turned off.

[2021-10-25 06:06] kissu commented on #451
Hi, can you give more details about your setup please? 🙏🏼

[2021-10-29 14:19] riderx commented on #359
@unremarkablegarden the solution of @elihorne is working if you need a workaround

[2021-11-04 17:57] olivM commented on #309
[code]

[2021-11-09 15:27] pmcp commented on #9
Unclear if this issue is resolved (because ages ago), but I had the same issue and resolved it by wrapping the plyr in two (!) extra divs, and putting the v-if on the outer div. One div still didn't work, two did. hacky, but works (for me).

so:

[code]

[2021-11-09 19:46] pmcp opened #455 "Updating options"
What is the correct way of updating the options object?

I've got this options object, but when I change 'this.songName', the player doesn't react:

[code]

Any help or advice?

[2021-11-15 08:39] aykodesmedt commented on #452
I have the same problem. There is no play icon shown and the user can't pause the video on mobile. This occurs on Android as well as iOS.

[2021-11-15 15:45] joek85 commented on #324
By doing this you are still playing the video content, you could try this
[NuxTube](https://github.com/joek85/NuxTube)
You have the option to play the audio only or if you want you can watch the video using vue-plyr.
I don't know if this is allowed.

[2021-11-29 11:43] danielgroen commented on #336
I'm having the same issue

[2021-12-05 03:06] dargmuesli commented on #359
Now that postcss-preset-env v7 is out, monitor https://github.com/nuxt/nuxt.js/pull/10060 and https://github.com/nuxt/nuxt.js/pull/9671.
In the meantime you can add the following to your `package.json`:
[code]
Please tell if that workaround works for you!

[2021-12-11 14:09] unremarkablegarden commented on #336
The problem is line 8555 in vue-plyr.ssr.js:

`setAttribute("allow", "autoplay,fullscreen,picture-in-picture")`

This needs to use semicolons not colons. Otherwise play and autoplay will be buggy or not for Android and iOS.

`setAttribute("allow", "autoplay;fullscreen;picture-in-picture")`

[2021-12-11 14:20] unremarkablegarden opened #456 "Solution: Can't play in Chrome (maybe Android too?)"
Line 8555 of vue-plyr.ssr.js:

`c.setAttribute("src", u), c.setAttribute("allowfullscreen", ""), c.setAttribute("allow", "autoplay,fullscreen,picture-in-picture"), is$1.empty(s) || c.setAttribute("referrerPolicy", s);`

You need to set the allow attributes separated by semicolon not commas, or else it doesn't load properly. You can't fix it by setting the attr again after with JS. Needs to be fixe

[2021-12-11 14:20] unremarkablegarden commented on #401
Line 8555 of vue-plyr.ssr.js:

`c.setAttribute("src", u), c.setAttribute("allowfullscreen", ""), c.setAttribute("allow", "autoplay,fullscreen,picture-in-picture"), is$1.empty(s) || c.setAttribute("referrerPolicy", s);`

You need to set the allow attributes separated by semicolon not commas, or else it doesn't load properly. You can't fix it by setting the attr again after with JS. Needs to be fixe

[2021-12-13 11:32] abregre commented on #332
[code]

Same problem here when i try to change the inner source from Youtube to Vimeo and External Url

[2021-12-21 22:22] mrgodhani commented on #455
I have bumped into similar issue too. If you using vue 3 adding `key` attribute with unique value might help to force rerender the component.

[2022-01-09 09:47] abaanshanid commented on #454
Any updates on this?, I'm having the same issue

[2022-01-20 15:39] vin-ni commented on #454
+1

[2022-01-27 16:40] hazalozturk commented on #401
I am having the same problem. Has anyone managed to fix it without touching the source code?

[2022-02-01 10:24] Dihan-Tech commented on #18
I can't dynamically change youtube video id.

            <VuePlyr ref="plyr" :options="options">
              <div
                data-plyr-provider="youtube"
                :data-plyr-embed-id="videoId"
                style="--plyr-color-main: #1ac266"

            </VuePlyr>

[2022-02-14 12:37] gierloff commented on #456
Can you please fix this? I had to use the fork from skjnldsv to make it work (to fix play issue in chrome, I could only play the videos if they were muted)

`npm i @skjnldsv/vue-plyr `

AND

`npm i vue-plyr`

then

In nuxt, at plugins/plyr.js:
[code]

[2022-02-18 20:59] iFeras93 commented on #199
this issue is still apper

[2022-03-02 01:48] giofanny opened #468 "Help me"
Give me some code inside my vuejs spa project regarding vue plyr. I want to disable and hide the large video play function button and also bring up the video download button. How?

[2022-03-03 01:38] Niehaus commented on #9
I used wrapped and worked as well
[code]

[2022-03-08 17:04] JoeEarly commented on #401
@redxtech Any plans to apply the above fix?

Am sure I can apply the fix if you could review the PR

[2022-03-19 08:42] mehotkhan commented on #455
add `const self=this` before ` this.$nextTick().then(() => {`
and call play method like this : `self.$refs.plyr.player.play()`

[2022-03-24 06:25] nuwanz opened #469 "'npm install vue-plyr' error?"
Hello there,

I get an error when installing this plugin.

**'An unknown git error occurred
npm ERR! enoent This is related to npm not being able to find a file.,**

I like your player but can't install it on my vue3 project.

Thanks.

[2022-04-07 03:00] reaink opened #474 "sampotts/plyr.git develop Permission denied"
[code]

[2022-04-14 07:43] ak3489 commented on #454
try this
`<vue-plyr v-if="audioSrc" ref="plyr" :options="options" >
        <audio controls playsinline ref="audio">
          <source
              :src=audioSrc
              type="audio/mp3"
          />
        </audio>
      </vue-plyr>`
 this.$nextTick(()=>{
this.$refs.audio.src = this.audioSrc;
}

[2022-04-15 04:33] ocarlosapenas commented on #454
Tks, I'm new with vue (only using 7 days)
where the ```nextTick``` should be placed?

[2022-04-19 19:57] danimalweb commented on #18
@Dihan-Tech Updating the Youtube source worked fine for me (Vue v3 & Composition API).

` let player = plyr.value.player;

      player.source = {
        type: 'video',
        sources: [
          {
            src: youTubeId,
            provider: 'youtube',
          },
        ],
      }
      player.currentTime = 0;`

[2022-04-26 03:13] ak3489 commented on #454
after you change  `audioSrc`

[2022-04-29 09:53] nietonfir commented on #474
That's because the dependency on plyr is defined through a [github URL](https://github.com/redxtech/vue-plyr/blob/master/package.json#L31), which npm apparently translates to `git+ssh://git@github.com/sampotts/plyr.git`. And for ssh access to github you need SSH-keys configured in your github account.

The easiest way for you would be to install the plyr dependency by yourself: `npm i plyr`

Pleas

[2022-04-29 09:59] #474 closed, assigned to nobody

[2022-04-29 12:08] nietonfir commented on #474
Well, that did not solve it completely.

What did work on the other hand was forcing an override:

[code]

This is a relative new npm feature introduced in v8.3, see https://stackoverflow.com/a/70396201/838733 and https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides

[2022-04-29 14:15] reaink commented on #474
@nietonfir Thank you, I use @hulkapps/vue-plyr fork package can work

[2022-05-08 20:40] kpetrillo opened #478 "Not working with HLS mp4s"
I'm using Imgix's API which requires the video to have **?fm=hls** to be used in web browsers (https://docs.imgix.com/apis/video#using-videos-in-a-web-player).  It works with the native Plyr code, but not this Vue component. Any thoughts?

[2022-05-30 22:47] gamaliny opened #479 "Add subtitles to a Youtube iframe"
Hello,

I had succesfully change dynamically the youtube id of a video by doing this:
`this.$refs.plyr.player.media.src = this.urlVideo;`
But unfortunately I don't know how to enable captions for this video, I don't have the option shown in my controls and even if I do:
`this.$refs.plyr.player.captions = { active: true, language: 'FR', update: true, currentTrack: this.urlSubtitles};`
It's not work

[2022-06-15 15:23] joweste commented on #332
I have the same problem. Is there some workaround to solve it?

[2022-06-20 11:50] d4rkr3pt0r commented on #451
@gilfuser Use the following method:
[code]
[code]

[2022-06-25 06:06] suraj740 opened #486 "default controls shown in the demo page its not coming"
Hi, i am using the below code to show the video, but default controls are not coming as shown in the demo page

`<video
          controls
          crossorigin
          playsinline
          :data-poster="data.thumbnail"
          :poster="data.thumbnail"

              <source
              :src="data.url"
              type="video/mp4"
              />
          </video>`

     Any help would

[2022-07-01 20:50] joweste commented on #332
Is this project alive?

[2022-07-04 06:21] Rusinas opened #488 "Vue Plyr 7.0.0 causes npm ci in Docker fail with error 401"
It's weird, but I can't run npm ci in our pipeline (using docker), when I have Vue Plyr 7.0.0 installed. Removing it solves the issue

[2022-07-04 06:45] Rusinas commented on #488
Seems like that's the reason:
![image](https://user-images.githubusercontent.com/42975143/177096968-dece528f-2e0c-4efe-9d35-9779f7a2f334.png)

[2022-07-05 06:09] eladcandroid opened #489 "Any maintenance status update for this (lovely) package?"

[2022-07-11 17:12] jdnichollsc commented on #488
@redxtech hey mate, thanks for this great project! Question, why are you not importing **plyr** package using npm instead? 🤔
I'm asking about [this line](https://github.com/redxtech/vue-plyr/blob/master/package.json#L32)

[2022-07-11 17:13] jdnichollsc commented on #469
Because this lib is importing plyr package with github directly instead of npm, they need to fix that

[2022-07-15 11:41] bluelemonade commented on #469
is there a bug fix or workaround out there?

npm ERR! code ENOENT
npm ERR! syscall spawn git
npm ERR! path git
npm ERR! errno -4058
npm ERR! enoent An unknown git error occurred
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\bluelemon\AppData\Local\npm-cache\_logs\2022-07-15T11_53_55_

[2022-08-19 15:11] marcoliverteschke opened #494 "Installation of dependency sampotts/plyr extremely slow"
Hi,

when I add _vue-plyr_ as a dependency as-is, my `npm install` time goes from under a minute to 10 minutes and longer, simply because it retries fetching _sampotts/plyr_ many times.

After some looking around I found that if the dependency to _plyr_ in _vue-plyr's_ `package.json` is changed from

    "plyr": "github:sampotts/plyr#develop",

to

    "plyr": "git+https://github.com/sampotts/plyr

[2022-08-24 17:55] gilfuser commented on #451
Hi @kissu and @d4rkr3pt0r. Thank you
Please don't close this for being stalled for so long. I'm trying the suggested method and will report next about the result.

[2022-08-27 23:19] AnnikenYT commented on #184
Hello, sorry to have to bump this after so long, but I'm experiencing a kind of issue which I think is related.
Essentially, I have this simple template:
[code]
Now, `id` changes, and the entire app pretty much breaks.
I get this error in console:
[code]
I've isolated the issue to this component and am using `vue-plyr@7.0.0`.
Any help is appreciated :)

[2022-08-27 23:46] AnnikenYT commented on #489
Dont think so, but there is a fork [here](https://github.com/skjnldsv/vue-plyr)

[2022-08-28 00:59] redxtech commented on #489
Oof, I can take a look at it soon & merge changes from the fork.

Been busy with work & school lately, but I'll see if I can coordinate with the fork maintainer to get something going.

[2022-09-15 01:17] niekysu commented on #452
this worked for me:

[code]

[2022-09-15 15:40] AnnikenYT commented on #489
That would be amazing :D

[2022-11-07 11:23] simbiant commented on #455
In case, someone need it. Just wrap player with component and pass options as props, so every time you change options, component will update. I tried to update player directly, but there was error null pointer

[2022-11-07 11:56] simbiant opened #496 "Quality settings closes"
https://youtu.be/TZjxCapyZLc

When I tried to change quality settings, modal just disappear. I happens after I change quality a couple of times and only while video is playing. Using vue-plyr + hls.js

[2022-11-16 15:56] dataexcess commented on #184
Why are we forced to rerender the whole component though? This seems unnecessary and expensive. Yet I did not find a way to do it using the normal API...

Why does the following code simply not work?

[code]

when I remove the :key argument I just get a stream of these errors and nothing changes/works:

[code]

when I add the :key argument to the vue-plyr component it does work but I still get a s

[2022-11-18 10:48] dataexcess opened #502 "Cannot change vimeo source dynamically - error: Unknown player. Probably unloaded"
Hello,

I want to switch the source of my vimeo embedd dynamically. However when I do that I get a continues stream of the following errors, blocking my site and not setting any source:

[code]

I am following the setting source comvention like so ...

[code]

I know I can add a :key argument to my vue-plyr component instance, and in doing so I get the stream of errors 6-7 times but eventually the